.hero #create-standout-content-in-no-time {
    text-align: left;
}

.hero #get-the-easy-to-use-web-and-mobile-offering-powered-by-acrobat-premiere-and-photoshop {
    text-align: left;
    margin-left: 0;
}

main .pricing {
    opacity: 1;
    text-align: left;
    padding-bottom: 1000px;
}

main .pricing .pricing-left img {
    display: none;
}

main .pricing .pricing-plan .pricing-plan-title {
    margin: 70px 0 0 0;
    color: black!important;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

main .pricing .pricing-plan .pricing-plan-price {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 800;
}

main .pricing .pricing-plan .pricing-plan-price .price {
    margin-top: 10px;
    font-size: 42px;
}

main .pricing .pricing-plan .pricing-plan-dropdown {
    padding: 5px;
    border-radius: 5px;
    width: 180px;
}

main .pricing .cta {
    background-color: #5c5ce0;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 15px 0;
    border-radius: 30px;
}

main .pricing .pricing-right img {
    width: 40px;
    height: 40px;
}

main .pricing .pricing-right .other-plans {
    margin-top: 40px;
    padding-bottom: 60px;
}

main .pricing .pricing-right .other-plans .other-plans-title {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}

main .pricing .pricing-right .other-plans .other-plan {
    position: relative;
    display: block;
}

main .pricing .pricing-right .other-plans .other-plan-button {
    border: 2px #d4d4d4 solid;
    max-width: 100%;
    padding: 15px 20px;
    font-size: 24px;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    transition: .2s background-color ease-in;
}

main .pricing .pricing-right .other-plans .other-plan-button:hover {
    background-color: #d4d4d4;
}

main .pricing .pricing-right .other-plans .other-plan-popup {
    display: none;
    position: absolute;
    max-width: 100%;
    top: 80px;
    left: 0;
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 40px 20px;
    z-index: 10;
    box-shadow: 0 0 10px -5px #000000;
    font-size: 22px;
}

main .pricing .pricing-right .other-plans .other-plan-popup.active {
    display: block;
}

@media (min-width: 600px) {
    .hero #create-standout-content-in-no-time {
        text-align: center;
    }

    .hero #get-the-easy-to-use-web-and-mobile-offering-powered-by-acrobat-premiere-and-photoshop {
        text-align: center;
    }

    main .pricing-container > div {
        max-width: 1000px;
    }

    main .pricing {
        display: flex;
        justify-content: space-between;
    }

    main .pricing .pricing-left img {
        margin-top: 20px;
        display: block;
    }

    main .pricing .pricing-plan .pricing-plan-title {
        margin: 0;
    }

    main .pricing .pricing-plan .pricing-plan-price {
        margin-top: 10px;
        display: inline-block;
    }

    main .pricing .pricing-plan .pricing-plan-price .price {
        font-size: 52px;
    }

    main .pricing .pricing-plan .pricing-plan-dropdown {
        display: inline-block;
        margin-left: 20px;
    }

    main .pricing .pricing-left {
        width: 45%;
    }

    main .pricing .pricing-right {
        width: 45%;
    }

    main .pricing .pricing-right .other-plans .other-plans-container {
        display: flex;
    }

    main .pricing .pricing-right .other-plans .other-plan {
        flex: 1;
        margin-right: 20px;
    }

    main .pricing .pricing-right .other-plans .other-plan-popup {
        width: 190%;
        max-width: 190%;
    }

}
