main .hero h1 {
    text-align: left;
}

main .hero h2 {
    text-align: left;
    margin-left: 0;
}

main .page-list-container, main .pricing {
    opacity: 1;
    text-align: left;
    height: auto;
}

main .pricing .pricing-left img {
    display: none;
}

main .pricing .pricing-plan .pricing-plan-title {
    margin: 70px 0 0 0;
    color: var(--color-black) !important;
    font-size: var(--body-font-size-xxl);
    font-weight: var(--heading-font-weight);
    text-align: left;
}

main .pricing .pricing-plan .pricing-plan-price {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 800;
    display: inline-flex;
}

main .pricing .pricing-plan .pricing-plan-price .price {
    margin-top: -10px;
    font-size: 42px;
}

main .pricing .pricing-plan .pricing-plan-dropdown {
    display: block;
    padding: 5px;
    border-radius: 5px;
    width: 180px;
}

main .section .pricing p.button-container {
    margin-top: 0;
}

main .pricing .cta {
    background-color: var(--color-info-accent);
    width: 100%;
    margin: 40px 0 0 0;
    border-radius: 30px;
    max-width: none;
    box-sizing: border-box;
}

main .pricing .pricing-right img, main .pricing .pricing-right svg {
    width: 40px;
    height: 40px;
}

main .pricing .pricing-right .other-plans {
    margin-top: 40px;
    padding-bottom: 60px;
}

main .pricing .pricing-right .other-plans .other-plans-title {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}

main .pricing .pricing-right .other-plans .other-plan {
    position: relative;
    display: block;
}

main .pricing .pricing-right .other-plans .other-plan-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px var(--color-gray-300) solid;
    max-width: 100%;
    padding: 15px 20px;
    font-size: 24px;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    transition: .2s background-color ease-in;
}

main .pricing .pricing-right .other-plans .other-plan-button .icon-chevron {
  width: 16px;
  height: 16px;
}

main .pricing .pricing-right .other-plans .other-plan-button.pressed,
main .pricing .pricing-right .other-plans .other-plan-button:hover {
  background-color: var(--color-gray-300);
  color: var(--color-black);
}

main .pricing .pricing-right .other-plans .other-plan-popup {
    display: none;
    position: absolute;
    max-width: 100%;
    top: 80px;
    left: 0;
    background-color: var(--color-white);
    border: none;
    border-radius: 6px;
    padding: 32px 40px;
    z-index: 10;
    box-shadow: 0 0 10px -5px var(--color-black);
}

main .pricing .pricing-right .other-plans .other-plan-popup a:not(.button) {
    color: var(--color-info-accent);
    text-decoration: none;
}

main .pricing .pricing-right .other-plans .other-plan-popup.active {
    display: block;
}

main .pricing .pricing-right .pricing-iconlist > div {
    display: flex;
    align-items: center;
}

main .pricing .pricing-right .pricing-iconlist .pricing-iconlist-icon {
    display: flex;
    padding: 12px 0;
}

main .pricing .pricing-right .pricing-iconlist .pricing-iconlist-description {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 10px;
}

main .pricing .pricing-right .pricing-iconlist .pricing-iconlist-description > p {
    margin: 0;
    font-size: var(--body-font-size-l);
}

@media (min-width: 600px) {
    main .hero h1 {
        margin: 32px 32px;
    }

    main .hero h2 {
        margin: 32px 32px;
    }
}

@media (min-width: 900px) {
    main .pricing .pricing-plan .pricing-plan-dropdown {
        display: inline-block;
        margin-left: 20px;
    }

    main .pricing .cta {
        margin: 10px auto;
        width: 327px;
    }
}

@media (min-width: 1200px) {
    main .hero h1 {
        text-align: center;
    }

    main .hero h2 {
        text-align: center;
        margin: 30px 30px;
    }

    main .pricing-container > div {
        max-width: 1000px;
    }

    main .pricing {
        display: flex;
        justify-content: space-between;
    }

    main .pricing .pricing-left img {
        margin-top: 20px;
        display: block;
    }

    main .pricing .pricing-plan .pricing-plan-title {
        margin: 0;
    }

    main .pricing .pricing-plan .pricing-plan-price {
        margin-top: 10px;
    }

    main .pricing .pricing-plan .pricing-plan-price .price {
        font-size: 52px;
    }

    main .pricing .pricing-left {
        width: 45%;
    }

    main .pricing .pricing-right {
        width: 45%;
    }

    main .pricing .pricing-right .other-plans .other-plans-container {
        display: flex;
    }

    main .pricing .pricing-right .other-plans .other-plan {
        flex: 1;
        margin-right: 20px;
    }

    main .pricing .pricing-right .other-plans .other-plan-popup {
        width: 190%;
        max-width: 190%;
    }

    main .pricing .cta {
        margin: 0;
        width: 100%;
    }
}
