main .section.paginated-carousel-container {

}

main .section.paginated-carousel-container .paginated-carousel-wrapper {
    max-width: none;
}

main .section.paginated-carousel-container .paginated-carousel-wrapper .pagination-container {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding: 16px 0;
}

main .section.paginated-carousel-container .paginated-carousel-wrapper .pagination-container .pagination-dot {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: var(--color-gray-200);
    transition: background-color 0.2s;
    cursor: pointer;
}

main .section.paginated-carousel-container .paginated-carousel-wrapper .pagination-container .pagination-dot:hover {
    background-color: var(--color-gray-300);
}

main .section.paginated-carousel-container .paginated-carousel-wrapper .pagination-container .pagination-dot.active {
    background-color: var(--color-gray-400);
}

main .section.paginated-carousel-container .paginated-carousel {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;  /* Firefox */
}

main .section.paginated-carousel-container .paginated-carousel::-webkit-scrollbar {
    display: none;
}

main .section.paginated-carousel-container .paginated-carousel .paginated-carousel-item {
    min-width: 60%;
    position: relative;
    scroll-snap-align: start;
    padding: 0 8px;
}

main .section.paginated-carousel-container .paginated-carousel .paginated-carousel-item.hidden {
    display: none;
}

main .section.paginated-carousel-container .paginated-carousel .paginated-carousel-item .image-container {
    margin: 8px 0;
}

main .section.paginated-carousel-container .paginated-carousel .paginated-carousel-item .image-container img {
    border-radius: 16px;
    height: 120px;
    width: 100%;
    object-fit: cover;
    display: block;
}

main .section.paginated-carousel-container .paginated-carousel .paginated-carousel-item .button-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
}

main .section.paginated-carousel-container .paginated-carousel .paginated-carousel-item .button-container a {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

main .section.paginated-carousel-container .paginated-carousel .paginated-carousel-item .content {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    margin: 8px 0 0 0;
}

main .section.paginated-carousel-container .paginated-carousel .paginated-carousel-item p {
    border-radius: 16px;
}