main .section .toggle-bar-wrapper {
    margin: 0 auto;
    padding: 0 16px;
    max-width: max-content;
}

main .block.toggle-bar.float {
    margin-top: -72px;
}

main .block.toggle-bar.sticky {
    min-height: 147px;
    position: relative;
    z-index: 99;
}

main .block.toggle-bar div[data-align="center"] {
    margin: auto;
}

main .block.toggle-bar div[data-align="center"] * {
    text-align: center;
}

main .block.toggle-bar > div:nth-of-type(2) {
    position: relative;
    display: flex;
    background: var(--color-white);
    border-radius: 100px;
    box-shadow: 0 0 10px #00000029;
    box-sizing: border-box;
    padding: 6px;
    margin-top: 32px;
    margin-bottom: 16px;
    height: 70px;
    overflow: auto clip;
    transition: top 0.2s;
}

main .block.toggle-bar.sticky.sticking > div:nth-of-type(2) {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

main .block.toggle-bar.sticky.sticking.hidden > div:nth-of-type(2) {
    top: -120px;
}

main .block.toggle-bar > div:nth-of-type(2)::-webkit-scrollbar {
    display: none;
}

main .block.toggle-bar > div:nth-of-type(2) {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main .block.toggle-bar > div {
    display: flex;
    align-items: center;
    height: 100%;
}

main .block.toggle-bar > div > div {
    border-left: 2px solid #e8e8e8;
}

main .block.toggle-bar > div > div:nth-of-type(1) {
    border-left: unset;
}

main .block.toggle-bar ul {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
}

main .toggle-bar .toggle-bar-button {
    position: relative;
    display: inline-block;
    list-style-type: none;
    background-color: transparent;
    font-size: var(--body-font-size-s);
    margin: 0 28px;
    cursor: pointer;
    user-select: none;
    border: none;
    font-family: var(--body-font-family);
    color: black;
}

main .toggle-bar .toggle-bar-button:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -13px;
    transform: translate(-50%);
    height: 4px;
    width: 100%;
    max-height: 0;
    opacity: 0;
    background-color: var(--color-info-accent);
    border-radius: 100px 100px 0 0;
    transition: max-height .2s, opacity .2s;
}

main .toggle-bar .toggle-bar-button.active:after,
main .toggle-bar .toggle-bar-button:hover:after {
    max-height: 4px;
    opacity: 1;
}

main .toggle-bar .toggle-bar-button .text-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    transition: color .3s, font-weight .3s;
}

main .toggle-bar .toggle-bar-button.active .text-wrapper {
    font-weight: 700;
    color: var(--color-info-accent);
}

main .toggle-bar .toggle-bar-button .icons-wrapper .icon {
    height: 18px;
    width: 18px;
}

main .toggle-bar .toggle-bar-button.active .icons-wrapper .icon:first-of-type,
main .toggle-bar .toggle-bar-button .icons-wrapper .icon:nth-of-type(2) {
    display: none;
}

main .toggle-bar .toggle-bar-button .icons-wrapper .icon:first-of-type,
main .toggle-bar .toggle-bar-button.active .icons-wrapper .icon:nth-of-type(2) {
    display: unset;
}

main .toggle-bar .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 12px;
    padding: 2px 4px;
    font-weight: 700;
    background-color: #DEDEF9;
    color: var(--color-info-accent);
    border-radius: 4px;
}
