main .light-banner {
  margin-bottom: 80px;
}

main .light-banner img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

main .light-banner h1 {
  font-size: var(--heading-font-size-l);
}

main .light-banner p {
  margin: 24px 0;
  font-size: var(--body-font-size-xl);
}

main .light-banner .button.large {
  background-color: white;
  color: var(--body-color);
  border: 2px var(--body-color) solid;
}
