.section .cta-carousel-wrapper {
    max-width: none;
}

.cta-carousel {
    padding: 0 28px;
    max-width: 1440px;
    margin: auto;
}

.cta-carousel .cta-carousel-heading-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto auto 32px;
}

.cta-carousel .cta-carousel-heading-section h2 {
    text-align: left;
    max-width: 640px;
    margin-bottom: 8px;
    font-size: var(--heading-font-size-m);
}
.cta-carousel .cta-carousel-heading-section p {
    text-align: left;
    margin: 0;
    max-width: 640px;
}

.cta-carousel .carousel-container .carousel-platform {
    align-items: unset;
}

.cta-carousel .card {
    margin: 0 8px;
}

.cta-carousel .card:first-of-type {
    margin-left: 0;
}

.cta-carousel .card .card-sleeve {
    position: relative;
    height: 140px;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.cta-carousel .card .card-sleeve .media-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.cta-carousel .card .card-sleeve .links-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000050;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s;
}

.cta-carousel .card:hover .card-sleeve .links-wrapper {
    opacity: 1;
}

.cta-carousel .card .card-sleeve .links-wrapper a {
    margin: 4px auto;
    width: max-content;
}

.cta-carousel.quick-action .card .card-sleeve .links-wrapper a.clickable-overlay {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: #00000020;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cta-carousel .card .card-sleeve .links-wrapper a:nth-of-type(1) {
    border: solid 2px var(--color-white);
    background-color: var(--color-white);
    color: var(--body-color);
}

.cta-carousel .card .card-sleeve .links-wrapper a:nth-of-type(2) {
    background-color: transparent;
    border: solid 2px var(--color-white);
}

.cta-carousel .card .card-sleeve picture,
.cta-carousel .card .card-sleeve video {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cta-carousel .card .card-sleeve picture img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.cta-carousel .card .card-sleeve .media-wrapper img.icon {
    position: absolute;
    display: block;
    height: 14px;
    width: 14px;
    padding: 8px;
    overflow: visible;;
    border-radius: 24px;
    background-color: var(--color-white);
    box-shadow: 0 0 10px #00000029;
    bottom: 12px;
    left: 12px;
    z-index: 1;
}

.cta-carousel .card .text-wrapper .cta-card-text {
    font-size: var(--body-font-size-s);
    font-weight: 700;
    text-align: left;
    margin: 8px 0 0;
}

.cta-carousel .card .text-wrapper .subtext {
    font-size: var(--body-font-size-s);
    text-align: left;
    margin: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.cta-carousel .card:hover .text-wrapper .subtext {
    opacity: 1;
}

.cta-carousel .card .text-wrapper .tag {
    font-size: 12px;
    padding: 0 4px;
    margin-left: 6px;
    font-weight: 700;
    background-color: #DEDEF9;
    color: var(--color-info-accent);
    border-radius: 4px;
}

@media (min-width: 900px) {
    .cta-carousel .cta-carousel-heading-section {
        flex-direction: row;
        align-items: flex-end;
    }

    .cta-carousel .carousel-container .carousel-fader-left,
    .cta-carousel .carousel-container .carousel-fader-right{
        background: unset;
    }
}
