main .image-list {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

main .image-list.app {
  margin-top: 20px;
}

main .image-list img {
  height: 54px;
  padding: 10px;
}

main .image-list-container > div {
  max-width: 1024px;
}