main .download-screens-wrapper.scroll {
  max-width: unset;
  overflow: scroll;
}

main .section.large .default-content-wrapper h2 {
  font-size: var(--heading-font-size-xl);
}

main .cards.download-screens.scroll {
  display: inline-flex;
  flex-wrap: nowrap;
  max-width: unset;
  width: unset;
  margin: 80px auto;
  flex-direction: row;
  justify-content: center;
}