main .download-screens-wrapper.scroll {
  max-width: 100vw;
  width: 100vw;
  overflow: scroll;
  padding: 0;
}

main .section.large .default-content-wrapper h2 {
  font-size: var(--heading-font-size-xl);
}

main .cards.download-screens {
  display: inline-flex;
  flex-wrap: nowrap;
  /* max-width: unset;
  width: unset; */
  /* width: 100vw; */
  max-width: 100vw;
  width: max-content;
  gap: 16px;
  margin: 80px auto;
  flex-direction: row;
  justify-content: center;
}

main .cards.download-screens .card .card-image img {
  border-radius: 0;
}

main .cards.download-screens .card {
  width: 157px;
  height: 313px;
  margin: 0;
}

main .cards.download-screens .card:first-child {
  margin: 0 0 0 16px;
}

main .cards.download-screens .card:last-child {
  margin: 0 16px 0 0;
}

main .cards.download-screens .card .card-image {
  width: 157px;
  height: 313px;
  display: inline-block;
}

@media (min-width: 1200px) {
  main .download-screens-wrapper.scroll {
    overflow: visible;
  }

  main .cards.download-screens {
    max-width: 100vw;
    width: 100vw;
    height: 313px;
    position: relative;
    margin: 120px auto;
  }

  main .cards.download-screens .card .card-image img {
    width: 100%;
    height: 100%;
  }
}