main .ratings-container.section-wrapper {
  background: var(--color-gray-100);
  padding-top: 80px;
  padding-bottom: 80px;
}

main .ratings .slider .tooltip {
  position: absolute;
  background: #FFFFFF;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(2px, -50%);
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .ratings .slider .tooltip > div {
  position: relative;
}

main .ratings .slider .tooltip--text {
  position: absolute;
  background: #FFFFFF;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
}

main .ratings .slider .tooltip--image,
main .ratings .slider .tooltip--image img {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

main .ratings form {
  padding-top: 5rem;
  width: 100%;
  /* adds space for the absolute-positioned tooltip */
}

main .ratings .slider {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

main .ratings .slider-bottom {
  display: flex;
  justify-content: space-between;
  padding: 32px 27px 80px 30px;
}

main .ratings .slider-bottom .vertical-line {
  height: 20px;
  border-left: 2px solid var(--color-gray-400);
  position: relative;
}

main .ratings .slider-bottom .stars {
  display: flex;
  position: absolute;
  left: calc(50% - 2px);
  transform: translateX(-50%);
  top: 60px;
  color: #e8e8e8;
  cursor: pointer;
  padding: 2px;
  background: transparent;
  border: none;
}

main .ratings .slider-bottom .stars img {
  height: 20px;
  width: 20px;
}

main .ratings.one-star .slider-bottom .stars.one-star,
main .ratings.two-stars .slider-bottom .stars.two-stars,
main .ratings.three-stars .slider-bottom .stars.three-stars,
main .ratings.four-stars .slider-bottom .stars.four-stars,
main .ratings.five-stars .slider-bottom .stars.five-stars {
  color: #5c5ce0;
}

main .ratings .slider-comment {
  padding: 32px 0;
}

main .ratings .slider-comment label {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xl);
  line-height: var(--body-line-height);
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

main .ratings .slider-comment textarea {
  resize: none;
  border: 2px solid var(--color-gray-400);
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  color: var(--body-color);
  margin: 16px 0;
  background: var(--color-white);
}

main .ratings form [type=submit] {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: var(--body-line-height);
  font-weight: 700;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin: 0;
  padding: 13px 1.5em 13px 1.5em;
  border-radius: 27px;
  transition: background-color .3s, color .3s, border .3s;
  border: 2px solid var(--color-gray-200);
  background: var(--color-gray-200);
}

main .ratings form [type=submit]:hover {
  background-color: var(--color-gray-300);
  border-color: var(--color-gray-300);
}

main .ratings form [type=submit]:active {
  background-color: var(--color-gray-400);
  border-color: var(--color-gray-400);
}

main .ratings form [type=submit]:focus {
  background-color: var(--color-gray-400);
  border-color: var(--color-gray-400);
  outline: none;
  box-shadow:
    0 0 0 2px var(--color-white),
    0 0 0 4px var(--color-gray-400);
}

/* Custom styling for the native range input, with cross-browser compatibility */
main .ratings form [type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
  width: 100%;
  height: 30px;
  border-radius: 60px;
  cursor: pointer;
}
main .ratings form [type=range]::-moz-focus-outer {
  border: 0;
}
main .ratings form [type=range]:focus {
  outline: 0;
}
main .ratings form [type=range]:focus::-webkit-slider-runnable-track,
main .ratings form [type=range]:focus::-ms-fill-lower,
main .ratings form [type=range]:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
}
main .ratings form [type=range]:focus-visible {
  outline: 2px solid rgba(0,0,0,0.55);
  outline-offset: -2px;
}
main .ratings form [type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 60px;
  height: 30px;
  width: 100%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 60px;
}
main .ratings form [type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 60px;
  box-sizing: border-box;
  cursor: pointer;
  height: 60px;
  width: 60px;
  -webkit-appearance: none;
  margin-top: -15px;
}
main .ratings form [type=range]::-moz-range-track {
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 60px;
  height: 30px;
  width: 100%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 60px;
  height: 15px;
}
main .ratings form [type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 60px;
  box-sizing: border-box;
  cursor: pointer;
  height: 60px;
  width: 60px;
}
main .ratings form [type=range]::-ms-track {
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 60px;
  height: 30px;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 30px 0;
  color: transparent;
}
main .ratings form [type=range]::-ms-fill-lower {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 120px;
}
main .ratings form [type=range]::-ms-fill-upper {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 120px;
}
main .ratings form [type=range]::-ms-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 60px;
  box-sizing: border-box;
  cursor: pointer;
  height: 60px;
  width: 60px;
  margin-top: 7.5px;
}