main .layouts {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

main .layouts .masonry-col {
  width: 252px;
}


main .layouts .layout {
  display: inline-block;
  margin: 24px;
  width: 200px;
  overflow: hidden;
  background: white;
  border: 2px dashed #D9D9D9;
  border-radius: 10px;
  cursor: pointer;
  background-color: #F4F4F4;
}

main .layouts .layout-inside {
    padding: 6px 0;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
  }

main .layouts .layout:hover {
    border-color: #1473E6;
}

main .layouts .layout-icon {
    font-size: 23px;
    font-weight: 900;
    color: #484848;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 10px;
}

main .layouts .layout-icon svg {
    height: 38px;
    width: 38px;
    fill: currentColor;
}

main .layouts .layout-description {
    color: #1473E6;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    font-size: 12px;
}

main .layouts .layout-content {
    position: relative;
    width: 100%;
    height: 100%;
}

main .layouts-container > div {
  max-width: 1400px;
}
