:root {
    --mobile-height: 150vh;
}

header {
    z-index: 3;
}

body main .hero-3d-container {
    pointer-events: none;
}

body a {
    pointer-events: all;
}

main .section {
    padding: 0;
    overflow: hidden;
}


main .hero-3d {
    margin-top: 32px;
}

main .hero-3d div:not(.fallback, iframe) {
    z-index: 2;
    position: relative;
}

main .hero-3d>div>div>p {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .hero-3d-wrapper {
    height: calc(var(--mobile-height) - var(--header-height) - var(--brand-header-height));
    display: inline-block;
}

body.no-brand-header main .hero-3d-wrapper {
    height: calc(var(--mobile-height) - var(--header-height));
}

main .section.dark .hero-3d-wrapper {
    color: #FFF;
}

main .hero-3d .icon-adobe-express {
    height: 58px;
    width: auto;
    margin: 0 auto;
    border: 1px solid #ffffff2e;
    border-radius: 8px;
}

main .hero-3d img {
    margin: 0 0 16px;
}

main .hero-3d h1 {
    font-size: var(--heading-font-size-xl);
}

main .section.highlight h1 em strong,
main .section.highlight h1 strong em {
    background: var(--gradient-highlight-diagonal);
    font-style: normal;
    font-weight: var(--heading-font-weight);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

main .hero-3d .fallback,
main .hero-3d iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border-width: 0px;
    border: none;
    z-index: 0;
    width: 100%;
    pointer-events: all;
    padding-top: calc(var(--header-height) + var(--brand-header-height));
}

body.no-brand-header main .hero-3d .fallback:not(.mobile),
body.no-brand-header main .hero-3d iframe {
    padding-top: var(--header-height);
}

main .hero-3d iframe {
    opacity: 0;
    display: none;
    height: var(--mobile-height);
}

main .hero-3d .fallback {
    z-index: -1;
    object-fit: cover;
    overflow: hidden;
    height: var(--mobile-height);
    box-sizing: content-box;
}

main .hero-3d .fallback img {
    height: var(--mobile-height);
    object-position: 50% 70%;
    object-fit: none;
}

main .hero-3d .fallback.mobile {
    display: unset;
}

main .hero-3d .fallback.desktop {
    display: none;
}

main .hero-3d .scroll-animation {
    display: none;
    position: relative;
    z-index: 4;
    pointer-events: none;
    cursor: pointer;
}

main .hero-3d .scroll-animation a {
    width: 90px;
    height: 90px;
}

main .hero-3d .scroll-animation .lottie {
    width: 55px;
    height: 55px;
    margin: auto;
}


main .section.dark .hero-3d iframe,
main .section.dark .hero-3d .fallback {
    background-color: var(--color-brand-title);
}

main .hero-3d p {
    margin: 16px 0 16px 0;
}

main .hero-3d>div>div {
    max-height: 464px;
}

main .hero-3d .button-container .icon-download {
    width: 16px;
    height: 20px;
    margin: 2px 8px 0 0;
    filter: invert(1);
}

@media screen and (min-width: 900px) {
    main .hero-3d-wrapper {
        max-width: 750px;
        height: calc(110vh - var(--header-height) - var(--brand-header-height));
    }

    body.no-brand-header main .hero-3d-wrapper {
        height: calc(110vh - var(--header-height));
    }

    main .hero-3d .scroll-animation {
        display: flex;
        place-content: space-around;
    }

    main .hero-3d iframe {
        display: unset;
        height: 110vh;
    }

    main .hero-3d .fallback,
    main .hero-3d .fallback img {
        height: 110vh;
    }

    main .hero-3d .fallback.mobile {
        display: none;
    }

    main .hero-3d .fallback.desktop {
        display: unset;
    }

    main .hero-3d h1 {
        font-size: var(--heading-font-size-xxl);
    }

    main .hero-3d .icon {
        height: 50px;
    }

    main .hero-3d>div>div {
        max-height: 280px;
    }

    main .hero-3d .button-container {
        display: none;
    }

    main .hero-3d .fallback img {
        height: calc(110vh - var(--header-height) - var(--brand-header-height));
        object-position: 50% 100%;
        object-fit: none;
    }

    body.no-brand-header main .hero-3d .fallback img {
        height: calc(110vh - var(--header-height));
    }
}

@media (min-width: 1200px) {
    main .hero-3d>div>div {
        max-height: 222px;
    }
}


@media (min-width: 1200px) {
    main .hero-3d-wrapper {
        max-width: 1356px;
    }
}

@media (max-height: 950px) {
    :root {
        --mobile-height: 117vh;
    }

    main .hero-3d .fallback img {
        object-fit: contain;
        object-position: 50% 60%;
    }
}

@media (max-height: 850px) {
    :root {
        --mobile-height: 125vh;
    }

    main .hero-3d .fallback img {
        object-fit: contain;
        object-position: 50% 70%;
    }
}

@media (max-height: 750px) {
    :root {
        --mobile-height: 132vh;
    }

    main .hero-3d .fallback img {
        object-fit: contain;
        object-position: 50% 75%;
    }
}