main .breadcrumb-container {
    margin: 16px 0;
    padding: 0;
}

main .breadcrumb-container .breadcrumb-wrapper {
    max-width: none;
    text-align: left;
}

main .breadcrumb-container a {
    font-weight: 400;
    color: var(--color-black);
}

main .breadcrumb-container a.current-crumb {
    opacity: 0.5;
}

main .breadcrumb-container + .hero-animation-wide-container {
    padding-top: 0;
    background-color: var(--color-gray-100);
}
