main .sticky-footer-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gradient-highlight-diagonal);
    color: white;
    z-index: 2;
}

main .sticky-footer {
    background: linear-gradient(320deg, #FF4DD2, #7C84F3, #FF4DD2, #7C84F3, #FF4DD2);
    background-size: 400% 400%;
    width: calc(574px - 32px);
    height: calc(211px - 32px);
    margin: 32px auto;
    padding: 32px;
    border-radius: 32px;
}

main .sticky-footer>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

main .sticky-footer>div>div {
    margin: auto;
    text-align: left;
}

main .sticky-footer>div p {
    margin: 0;
}

main .sticky-footer picture img {
    height: 147px;
    width: 147px;
}

@media not (min-width: 900px) {
    main .sticky-footer-wrapper {
        display: none;
    }
}