main .free-plan-tagline-container {
    padding: 0;
}

main [class='section section-wrapper free-plan-tagline-container'] {
    background-color: var(--color-gray-100);
}

main .block.free-plan-tagline .free-plan-widget {
    background-color: unset;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
}

main .block.free-plan-tagline .free-plan-widget > div {
    display: flex;
    align-items: center;
}

main .block.free-plan-tagline .free-plan-widget > div > div:first-child {
    margin-top: 0;
}

main .block.free-plan-tagline .free-plan-widget > div > div:last-child {
    font-weight: 700;
}