.pricing-hub {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-hub-cards {
    width: 336px;
}

.pricing-hub-card {
    width: 336px;
}

.pricing-hub-card .pricing-hub-card-recommended {

}
