main .link-list-container > div,
main .link-list-center-container > div {
  max-width: 1200px;
}

main .link-list {
  display: block;
  overflow: hidden;
  margin: 40px auto;
  width: 100%;
  text-align: left;
}

main .link-list h2,
main .link-list h3,
main .link-list h4 {
  text-align: left;
}

main .link-list h3 {
  font-size: var(--heading-font-size-m);
  margin-bottom: 20px;
}

main .link-list p.button-container {
  margin: 0 10px;
  line-height: 0;
}

main .link-list a.button.secondary {
  margin: 6px 0;
}

@media (min-width: 900px) {
  main .link-list-container > div,
  main .link-list-center-container > div {
    padding: 0 50px;
  }

  main .link-list {
    text-align: left;
  }

  main .link-list h2,
  main .link-list h3,
  main .link-list h4 {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  main .link-list-container > div,
  main .link-list-center-container > div {
      padding: 0 55px;
  }
}


/* Carousel styles (Link-list specific) */

/* Remove max-width on mobile breakpoints */
main .section.link-list-container,
main .section.link-list-container > div,
main .section.link-list-container .link-list,
main .section.link-list-container .link-list > div {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

main .link-list .carousel-container {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

main .link-list h2,
main .link-list h3,
main .link-list h4 {
  padding-left: 32px;
}

main .link-list .carousel-platform {
  scroll-padding: 32px;
}

main .link-list .carousel-platform p.button-container:first-child {
  margin-left: 32px;
}

@media (min-width: 900px) {
  main .link-list .carousel-platform {
    scroll-padding: 0;
  }

  main .section.link-list-container > div,
  main .section.link-list-center-container > div {
    max-width: 1200px;
  }

  main .section.link-list-container > div, main .link-list-center-container > div {
    padding: 0 50px;
  }
}

@media (min-width: 1200px) {
  main .section.link-list-container > div,
  main .section.link-list-center-container > div {
    padding: 0 55px;
  }

  main .section.link-list-container > div,
  main .section.link-list-center-container > div {
    max-width: 1200px;
  }
}

@media (max-width: 900px) {
  main .section > div.link-list-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

/* fullwidth variant */

main .section.link-list-fullwidth-container > div.link-list-wrapper {
  width: fit-content;
  max-width: 100%;
}

main .section.link-list-fullwidth-container > div.link-list-wrapper .link-list,
main .section.link-list-fullwidth-container > div.link-list-wrapper .link-list h2,
main .section.link-list-fullwidth-container > div.link-list-wrapper .link-list h3,
main .section.link-list-fullwidth-container > div.link-list-wrapper .link-list h4 {
  text-align: center;
}

main .section.link-list-fullwidth-container > div.link-list-wrapper .link-list .carousel-platform {
  margin-left: auto;
  margin-right: auto;
}

main .hero-animation-wrapper + .link-list-wrapper .link-list {
  margin-top: 16px;
}

main .link-list-wrapper .link-list.noarrows {
  margin-top: 0;
}

main .link-list-wrapper .link-list.noarrows > div > div > p:first-of-type {
  font-weight: 800;
  font-size: 16px;
  margin: 0 12px 4px 12px;
}

main .link-list-wrapper .link-list.noarrows .carousel-fader-right,
main .link-list-wrapper .link-list.noarrows .carousel-fader-left {
  display: none;
}

main .link-list-wrapper .link-list.noarrows p.button-container {
  margin: 0 8px;
}

main .link-list-wrapper .link-list.noarrows p.button-container .button.medium.secondary {
  padding: 3px 14px;
}


/* fullwidth + leftalign variant */

main .section.link-list-fullwidth-leftalign-container {
  padding-top: 0;
}

main .section.link-list-fullwidth-leftalign-container > div.link-list-wrapper {
  margin-left: 0;
}

main .section.link-list-fullwidth-leftalign-container ~ .section {
  padding-top: 0;
}

@media (min-width: 900px) {
  main .section.link-list-fullwidth-leftalign-container > div.link-list-wrapper .link-list,
  main .section.link-list-fullwidth-leftalign-container > div.link-list-wrapper .link-list h2,
  main .section.link-list-fullwidth-leftalign-container > div.link-list-wrapper .link-list h3,
  main .section.link-list-fullwidth-leftalign-container > div.link-list-wrapper .link-list h4 {
    padding-left: 0;
  }

  main .section.link-list-fullwidth-leftalign-container .link-list .carousel-platform p.button-container:first-child {
    margin-left: 10px;
  }
}
