main .toc-container {
  position: relative;
  display: block;
}

main .toc-container .default-content-wrapper {
  position: absolute;
  top: -4px;
  right: 0;
}

main .toc-container .default-content-wrapper .button-container {
  margin-top: 0;
}

main .toc-container .default-content-wrapper .button {
  font-size: .8em;
}

main .toc-container .button:any-link {
  background: none;
  border: none;
  color: var(--color-info-accent);
}

main .toc-container .toc-wrapper {
  display: none;
}

main .toc-container.open .toc-wrapper {
  display: block;
}

main .toc-container.open .toc-wrapper:before {
  content: '';
  background: rgba(0,0,0,.75);
  height: 100vh;
  width: 100%;
  display: block;
  z-index: 1;
  position: fixed;
}

main .toc-container .toc {
  position: relative;
  z-index: 1;
  padding: 24px 24px 84px;
  background-color: var(--color-gray-100);
  background-image: url('/express/icons/cc-express-logo.svg');
  background-position: bottom 22px left 22px;
  background-repeat: no-repeat;
  background-size: auto 30px;
  font-weight: bold;
  text-align: left;
}

main .toc-container .toc-heading {
  font-size: inherit;
  margin-bottom: 32px;
}

main .toc-container .toc-heading:before {
  display: inline-block;
  content: '';
  background: rgba(0, 0, 0, .1);
  height: 24px;
  width: 24px;
  margin-right: 12px;
  vertical-align: middle;
}

main .toc-container .toc-close {
  position: absolute;
  right: 12px;
  bottom: 8px;
}

main .toc-container .toc div div {
  display: inline-block;
  line-height: 2.2em;
  vertical-align: middle;
}

main .toc-container .toc div div:first-child {
  background: rgba(0, 0, 0, .1);
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

main .toc-container .toc a {
  color: var(--body-color);
}

main .toc-container.open .template-title p:first-child {
  display: none;
}

main .toc-container.open ~ .floating-button-wrapper {
  background: none;
}
