main .page-list-container.appear {
  opacity: 1;
  height: unset;
}

main .page-list-container > div {
  max-width: 1500px;
}


main .page-list.appear {
  opacity: 1;
}

main .page-list .page-list-category {
  max-width: 800px;
  margin: auto;
  text-align: left;
}

main .page-list .page-list-category h3 {
  text-align: left;
}

main .page-list .page-list-category a {
  margin-right: 8px;
  line-height: 24px;
  white-space: nowrap;
}

main .page-list .page-list-category a:any-link {
  text-decoration: none;
}


@media (min-width: 1184px) {
  main .page-list .page-list-category {
    max-width: 1075px;
  }    
}

@media (min-width: 1462px) {
  main .page-list .page-list-category {
    max-width: 1355px;
  }    
}
