body {
    overflow: hidden;''
}

main .choose-your-path {
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;
    cursor: pointer;
}

main .choose-your-path .choose-your-path-slide {
    display: flex;
    width: 50%;
    flex-direction: column;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: black;
    will-change: width, filter;
    user-select: none;
    overflow: hidden;
}

main .choose-your-path .choose-your-path-slide div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .choose-your-path .choose-your-path-slide .choose-your-path-slide-background img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
}

main .choose-your-path .choose-your-path-slide .choose-your-path-slide-title {
    position: absolute;
    top: 80px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    transform: translateX(-50%);
}

main .choose-your-path .choose-your-path-slide h1 {
    position: absolute;
    top: 140px;
    left: 50%;
    font-size: 28px;
    font-weight: 900;
    width: 490px;
    margin: 0;
    transform: translateX(-50%);
}

main .choose-your-path .choose-your-path-slide p {
    position: absolute;
    top: 200px;
    left: 50%;
    font-weight: var(--body-font-weight);
    font-size: 14px;
    margin: 0 0 10px 0;
    width: 400px;
    transform: translateX(-50%);
}

main .choose-your-path .choose-your-path-slide .choose-your-path-slide-title img {
    margin-right: 15px;
    width: 44px;
    height: 44px;
}

main .choose-your-path .choose-your-path-slide .choose-your-path-slide-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 310px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%) scale(1.2);
    will-change: transform;
    overflow: visible;
}

main .choose-your-path .choose-your-path-slide .choose-your-path-slide-image img {
    height: 40vh;
    object-fit: cover;
    overflow: visible;
}
