body.no-desktop-brand-header header {
  background-image: url(/express/icons/cc-express-logo.svg);
  height: auto;
}

.marquee-container,
.marquee-wide-container {
  padding-top: 0;
}

.section .marquee-wrapper {
  position: relative;
  max-width: unset;
  padding: 0;
}

.marquee {
  text-align: left;
  padding: 0;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.marquee.appear {
  opacity: 1;
  height: unset;
}

.marquee p:first-child { /* p with icon above heading */
  margin-bottom: 8px;
}

.marquee .marquee-foreground {
  padding: 28px 20px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.marquee .marquee-foreground > p:first-child img {
  height: 32px;
  width: unset;
}

.marquee .marquee-foreground > :first-child {
  margin-top: 0;
}

.marquee .marquee-foreground > :last-child {
  margin-bottom: 0;
}

.marquee .content-wrapper h1 {
  font-size: clamp(var(--heading-font-size-l), 4vw, var(--heading-font-size-xxl));
  margin: 0 0 8px 0;
}

.marquee .content-wrapper h2 {
  font-size: clamp(var(--heading-font-size-s), 3vw, var(--heading-font-size-l));
  margin: 0 0 8px 0;
  text-align: left;
}

.marquee p {
  font-size: var(--body-font-size-m);
  margin: 16px 0;
}

.marquee p > a {
  color: var(--color-black);
  text-decoration: underline;
}

.marquee p.button-container {
  text-align: left;
  margin: 16px 0;
}

.marquee p.button-container a.button:any-link {
  margin: 0;
  white-space: nowrap;
}

.marquee .marquee-background {
  box-sizing: border-box;
}

.marquee .background-wrapper {
  position: relative;
}

.marquee video.marquee-background {
  z-index: -1;
  object-fit: cover;
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  object-position: center;
}

.marquee.white-text,
.marquee.white-text a:any-link {
  color: var(--color-white);
}

.marquee.wide .marquee-background {
  min-height: unset;
  max-height: unset;
}

.marquee.wide video.marquee-background {
  max-height: 200px;
  min-height: 200px;
  object-position: 75% 100%;
}

.marquee .hero-shadow {
  display: none;
}

.marquee .hero-shadow picture {
  display: flex;
}

.marquee .button-container.button-inline {
  display: inline-block;
}

.marquee .content-wrapper .button-container.free-plan-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.marquee .button-container.button-inline.free-plan-container .free-plan-widget {
  color: var(--body-color);
  background: unset;
  background-color: unset;
  margin: unset;
}

.marquee.dark .button-container.button-inline.free-plan-container .free-plan-widget {
  color: var(--color-white);
  background: unset;
  background-color: unset;
}

.marquee .button-container.button-inline.free-plan-container + .button-container.button-inline > a {
  margin-left: 0;
}

.marquee.wide .free-plan-widget {
  margin: 0;
  background-color: transparent;
}

.marquee.wide .free-plan-widget {
  padding-left: 0;
}

.marquee p.button-container a.secondary::before {
  display: inline-block;
  width: 18px;
  height: 20px;
  margin-right: 10px;
  vertical-align: sub;
  top: 1px;
  position: relative;
  content: url(/express/icons/play.svg);
}

.marquee p.underline a {
  font-weight: normal;
  text-decoration: underline;
}

.marquee .reduce-motion-wrapper {
  z-index: 10;
  position: absolute;
  white-space: nowrap;
  right: 16px;
  bottom: 16px;
  height: 24px;
  cursor: pointer;
}

.marquee .reduce-motion-wrapper span {
  position: absolute;
  margin-right: 8px;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.marquee .reduce-motion-wrapper .icon {
  height: 100%;
  width: 100%;
}

.marquee.reduce-motion .reduce-motion-wrapper .icon:nth-of-type(1),
.marquee .reduce-motion-wrapper .icon:nth-of-type(2) {
  display: inline-block;
}

.marquee.reduce-motion .reduce-motion-wrapper .icon:nth-of-type(2),
.marquee .reduce-motion-wrapper .icon:nth-of-type(1) {
  display: none;
}

.marquee.reduce-motion .reduce-motion-wrapper:hover span.play-animation-text,
.marquee:not(.reduce-motion) .reduce-motion-wrapper:hover span.pause-animation-text {
  opacity: 1;
}

@media (min-width: 600px) {
  .marquee .marquee-foreground .content-wrapper {
    display: block;
  }

  .marquee.wide {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  .marquee.wide.fullwidth {
    max-width: unset;
  }

  .marquee.wide h1 {
    font-size: var(--heading-font-size-l);
  }

  .marquee.wide p {
    font-size: var(--body-font-size-m);
    position: relative;
    margin: 12px 0;
  }

  .marquee.wide .marquee-foreground > p:first-child img.icon {
    height: 30px;
  }

  .marquee .marquee-foreground > :first-child {
    margin-top: 0;
  }

  .marquee .marquee-foreground > :last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .marquee .background-wrapper {
    position: unset;
  }

  .marquee .marquee-background,
  .marquee video.marquee-background {
    position: absolute;
    height: 100%;
    max-height: unset;
  }

  .marquee.wide video.marquee-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    height: 100%;
    width: 100%;
    z-index: unset;
    object-fit: cover;
    max-height: unset;
    min-height: 250px;
    object-position: center;
  }

  .marquee.dark,
  .marquee.dark a:any-link {
    color: var(--color-white);
  }

  body.no-desktop-brand-header header, body.no-brand-header header {
    height: auto;
    background-image: unset;
  }

  .marquee .marquee-foreground {
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .marquee.wide .marquee-foreground {
    box-sizing: border-box;
    padding: 32px;
    margin: 0;
    min-height: 250px;
  }

  .marquee .marquee-foreground .content-wrapper {
    width: 600px;
    max-width: 42%;
  }

  .marquee .hero-shadow {
    display: flex;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-15%);
    z-index: 2;
  }

  .marquee p.button-container a.secondary {
    background: transparent;
    border-color: var(--color-black);
  }

  .marquee.dark p.button-container a.secondary {
    border-color: var(--color-white);
  }

  .marquee p.button-container a.secondary:hover, .marquee p.button-container a.secondary:active {
    background: rgba(255, 255, 255, 0.1);
    border-color: var(--color-black);
  }

  .marquee.dark p.button-container a.secondary:hover, .marquee.dark p.button-container a.secondary:active {
    background: rgba(255, 255, 255, 0.1);
    border-color: var(--color-white);
  }

  .marquee p.button-container a.secondary::before {
    filter: sepia(0%) saturate(1%) hue-rotate(172deg) brightness(110%) contrast(101%);
  }

  .marquee.dark p.button-container a.secondary::before {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(172deg) brightness(110%) contrast(101%);
  }

  .marquee.wide .button-container.free-plan-container {
    flex-direction: row;
    align-items: center;
  }

  .marquee.wide .button-container.free-plan-container a.button {
    margin-right: 24px;
  }

  .marquee.wide .button-container.free-plan-container.stacked {
    flex-direction: column;
    align-items: flex-start;
  }

  .marquee .content-wrapper .button-container.free-plan-container {
    align-items: center;
  }

  .marquee.wide .button-container.free-plan-container .free-plan-widget {
    margin-top: 0;
    padding: 16px 24px;
  }

  .marquee.wide .button-container.free-plan-container.stacked .free-plan-widget {
    padding-left: 0;
  }

  .marquee p.button-container a.secondary:any-link {
    margin-left: 15px;
  }
}

@media (min-width: 1200px) {
  .marquee:not(.wide) .marquee-foreground {
    height: 40vw;
    max-height: 540px;
  }
}

@media (min-width: 1400px) {
  .marquee .marquee-foreground > p:first-child img.icon.icon-adobe-express {
    height: 65px;
  }

  .marquee p {
    font-size: var(--body-font-size-l);
  }
}

@media (min-width: 1450px) {
  .marquee .hero-shadow {
    transform: translate(-15%, -2px);
  }
}

/* Japanese font sizing styles */

:lang(ja) .marquee h1 {
  font-size: var(--heading-font-size-l);
}

:lang(ja) .marquee h1.heading-long {
  font-size: var(--heading-font-size-l);
}

:lang(ja) .marquee h1.heading-very-long {
  font-size: var(--heading-font-size-m);
}

:lang(ja) .marquee h1.heading-x-long {
  font-size: var(--heading-font-size-m);
}
