main .block.circle-list-desktop {
  height: 200px;
  max-width: 1307px;
  margin: auto;
}



main .circle-list-desktop .circles-container {
  display: flex;
  justify-content: space-between;
}

main .circle-list-desktop .circle-wrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

main .circle-list-desktop .img-wrapper,
main .circle-list-desktop .lottie-wrapper {
  display: block;
  position: relative;
  height: 160px;
  width: 160px;
}

main .circle-list-desktop .circle-wrapper .img-wrapper:hover ~ .dropdown,
main .circle-list-desktop .circle-wrapper .dropdown:hover {
  display: initial;
}

main .circle-list-desktop .hero-img, 
main .circle-list-desktop .lottie-blank-canvas,
main .circle-list-desktop .alt-img {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: transform 0.2s;
  transform: scale3d(0.85, 0.85, 0.85);
  -webkit-transform: scale3d(0.85, 0.85, 0.85);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

main .circle-list-desktop .alt-img {
  opacity: 0;
}

main .circle-list-desktop .lottie-blank-canvas {
  background-color: #CC6AF7;
}

main .circle-list-desktop a {
  color: #B1B1B1;
  font-weight: 400  ;
}

main .circle-list-desktop .dropdown {
  position: absolute;
  background-color: #E4E5EA;
  z-index: -1;
  border-radius: 105px 105px 24px 24px;
  left: 50%;
  top: -25px;
  padding: 200px 0 24px 0;
  transform: translate(-50%, 0);
  display: none;
}

main .circle-list-desktop .dropdown a {
  display: flex;
  align-items: center;
  width: 190px;
  gap: 6px;
  color: #000000;
}

main .circle-list-desktop .circle-wrapper {
  position: relative;
  z-index: 2;;
}

main .circle-list-desktop .door-handle .dropdown {
  display: initial;
}

main .circle-list-desktop .door-handle .dropdown a {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

main .circle-list-desktop .dropdown li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 32px;
  width: 190px;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
  font-size: 14px;
}

main .circle-list-desktop .circle-label {
  z-index: -2;
}

main .circle-list-desktop .dropdown li:hover {
  background-color: var(--color-white);;
}

main .circle-list-desktop .dropdown li:hover span {
  color: #5C5CE0;
}

main .circle-list-desktop .circle-label {
  max-width: 124px;
}