main .blog-posts-container {
  padding: 0;
}

main .blog-posts-container > div {
  max-width: 100%;
  padding: 0;
}

main .blog-posts .blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px;
  width: unset;
}

main .blog-posts .blog-hero-card {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  text-decoration: unset;
  color: unset;
}


main .blog-posts .blog-hero-card .blog-card-image img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

main .blog-posts {
  text-align: center;
}
main .blog-posts .blog-card, main .blog-posts .blog-hero-card {
  cursor: pointer;
}

main .blog-posts .blog-card {
    display: grid;
    width: 350px;
    text-decoration: unset;
    color: unset;
    grid-template-areas: 'title title' 'teaser image' 'date image';
    text-align: left;
    margin: 28px;
  }

  main .blog-posts .blog-card .blog-card-image {
    line-height: 0;
    grid-area: image;
    margin-left: 16px;
  }

  main .blog-posts .blog-card > p {
    margin: 0;
  }

  main .blog-posts .blog-card .blog-card-image img {
    height: 92px;
    object-fit: cover;
    width: 126px;
    border-radius: 6px;
  }

  main .blog-posts h3.blog-card-title {
    font-size: var(--heading-font-size-s);
    line-height: var(--heading-line-height);
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    grid-area: title;
    margin-bottom: 16px;
    margin-top: 0;
  }

  main .blog-posts p.blog-card-teaser {
    font-size: var(--body-font-size-m);
    line-height: var(--body-line-height);
    font-weight: normal;
    font-family: var(--body-serif-font-family);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    grid-area: teaser;
    }

  main .blog-posts p.blog-card-date {
    font-size: var(--body-font-size-s);
    line-height: var(--body-line-height);
    font-family: var(--body-serif-font-family);
    grid-area: date;
  }
  
  main .blog-posts .blog-card .blog-card-body p {
    font-size: 1rem;
    margin: 12px 0;
  }

  main .blog-posts .blog-card .blog-card-body {
    padding: 16px;
    border: 1px solid lightgrey;
    border-radius: 0 0 10px 10px;
    border-top: none;
    height: 200px;
  }

@media (min-width: 600px) {
  main .blog-posts .blog-hero-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main .blog-posts .blog-hero-card .blog-card-image {
    height: 320px;
    padding-bottom: 0;
  }

  main .blog-posts .blog-hero-card .blog-card-body {
    text-align: left;
  }

  main .blog-posts .blog-hero-card .blog-card-body h3 {
    text-align: left;
  }

}
