/*
 * Copyright 2021 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* fonts */

@font-face {
  font-family: "adobe-clean";
  src: url("https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),
       url("https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),
       url("https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "adobe-clean";
  src: url("https://use.typekit.net/af/a0c22f/00000000000000003b9b3f84/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),
       url("https://use.typekit.net/af/a0c22f/00000000000000003b9b3f84/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),
       url("https://use.typekit.net/af/a0c22f/00000000000000003b9b3f84/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "adobe-clean";
  src: url("https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/l?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n4&v=3") format("woff2"),
       url("https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/d?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n4&v=3") format("woff"),
       url("https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/a?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n4&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "adobe-clean";
  src: url("https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/l?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=i4&v=3") format("woff2"),
       url("https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/d?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=i4&v=3") format("woff"),
       url("https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/a?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=i4&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "adobe-clean-serif";
  src: url("https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
       url("https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
       url("https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "adobe-clean-serif";
  src: url("https://use.typekit.net/af/c8f445/00000000000000003b9aee47/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),
       url("https://use.typekit.net/af/c8f445/00000000000000003b9aee47/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),
       url("https://use.typekit.net/af/c8f445/00000000000000003b9aee47/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "adobe-clean";
  src: url("https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/l?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n7&v=3") format("woff2"),
       url("https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/d?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n7&v=3") format("woff"),
       url("https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/a?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n7&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "adobe-clean";
  src: url("https://use.typekit.net/af/ad2a79/00000000000000003b9b3f8c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),
       url("https://use.typekit.net/af/ad2a79/00000000000000003b9b3f8c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),
       url("https://use.typekit.net/af/ad2a79/00000000000000003b9b3f8c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight:900;
}

/* below the fold */


main .list {
    list-style: none;
    text-align: left;
    margin-left: 4em;
    box-sizing: border-box;
}

main .list ol li {
    margin: 2em 0;
    display: block;
    position: relative;
    counter-increment: licount;
  }

main .list ol li::before {
    background-color: #fcce00;
    border-radius: 50%;
    color: #fff;
    content: counter(licount);
    font-size: 1.25rem;
    font-weight: bold;
    height: 2.25rem;
    line-height: 2rem;
    width: 2.25rem;
    left: -4em;
    display: inline-block;
    position: absolute;
    text-align: center;
  }

  main ol {
      text-align: left;
  }

  main ul {
    text-align: left;
  }

  .a-b-test {
    display: none;
  }


main video {
  max-width: 100%;
}

main .video-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

main .video-overlay .video-overlay-video {
  width: 90vw;
  height: calc(90vw * 9 / 16);
  max-height: 100vh;
}

main .video-overlay .video-overlay-video.vimeo {
  width: 90vh;
  max-width: 90vw;
  height: 90vw;
  max-height: 90vh;
}

main .video-overlay .video-overlay-video iframe,
main .video-overlay .video-overlay-video video {
  width: 100%;
  height: 100%;
}

main .video-overlay .promotion {
  display: none;
  position: relative;
  max-width: 337px;
  margin: 24px auto;
}

main .video-overlay .promotion.appear {
  display: block;
}

main .video-overlay .promotion .promotion-wrapper {
  margin-top: 0;
  border-radius: 0;
  background-color: var(--color-white);
}

main .video-overlay .promotion .promotion-wrapper .promotion-hero img {
  border-radius: 0;
  object-fit: cover;
}

main .video-overlay .promotion .promotion-wrapper .promotion-content {
  margin: 0 24px;
}

main .video-overlay .promotion .promotion-wrapper .promotion-content a.button {
  margin: 0;
}

main .video-overlay .promotion .promotion-wrapper .promotion-content h3 {
  font-size: var(--body-font-size-xxl);
}

main .video-overlay .close {
  top: 12px;
  right: 12px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  position: absolute;
  background-color: var(--color-gray-700);
  cursor: pointer;
}

main .video-overlay .close::after,
main .video-overlay .close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 9px;
  left: 4px;
  color: var(--color-white);
}

main .video-overlay .close::after {
  transform: rotate(-45deg);
}

@media (min-width: 600px) {

  main .video-overlay .promotion {
    max-width: 720px;
  }

  main .video-overlay .promotion .promotion-wrapper {
    display: flex;
  }

  main .video-overlay .promotion .promotion-wrapper > div {
    width: 50%;
  }

  main .video-overlay .promotion .promotion-wrapper .promotion-content h3 {
    font-size: var(--heading-font-size-l);
  }
}

main .blog-posts .card {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
}
main .blog-posts .card .card-image {
  line-height: 0;
}

main .blog-posts .card .card-image img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

main .blog-posts .card .card-body {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 0 0 5px 5px;
  border-top: none;
  height: 300px;
}

main .blog-posts .card .card-body p {
  font-size: 1rem;
}

#region-picker {
  background-color: #00000080;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-y: auto;
}

#region-picker nav {
  background-color: white;
  color: black;
  margin: auto;
  max-width: 1540px;
  width: 100%;
  height: auto;
  padding: 2rem;
  position: relative;
}

#region-picker nav .language-Navigation_heading {
  margin-top: 4px;
  color: #2c2c2c;
}

#region-picker nav .language-Navigation_subheading {
  color: #2c2c2c;
}

#region-picker nav .language-Navigation_region-List {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
  display: block;
  margin-top: 1.5em;
}

#region-picker nav .language-Navigation_region-List h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: #2c2c2c;
}

#region-picker nav .language-Navigation_region-List li:not(:first-child) > h3 {
  margin-top: 16px;
}

#region-picker nav .language-Navigation_region-List li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  color: #0d66d0;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  outline: none;
  color: #1473e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
}

#region-picker nav .language-Navigation_region-List li a:hover {
  text-decoration: underline;
}

#region-picker nav .language-Navigation_region-List li a:focus {
  outline: auto;    
}

#region-picker .close {
  top: 12px;
  right: 12px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  position: absolute;
  background-color: #444;
  pointer-events: none;
  cursor: pointer;
}

#region-picker .close::after,
#region-picker .close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 9px;
  left: 4px;
  color: white;
}
#region-picker .close::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 37.5rem) {
  #region-picker nav .language-Navigation_region-List {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  #region-picker nav {
    width: 40rem;
  }
}

@media screen and (min-width: 75rem) {
  #region-picker nav .language-Navigation_region-List {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
  #region-picker nav {
    width: 80vw;
  }
}

.helix-env {
  position: fixed;
  display: inline-block;
  padding: 5px 20px;
  color: white;
  background-color: #ff000080;
  bottom: 0;
  right: 0;
}

.helix-link-warning {
  border-color: red !important;
  border-width: 3px;
}