/* default content */

:root {
  --color-white: #FFF;
  --color-gray-100: #F8F8F8;
  --color-gray-200: #E8E8E8;
  --color-gray-300: #D4D4D4;
  --color-gray-400: #B6B6B6;
  --color-gray-500: #909090;
  --color-gray-600: #686868;
  --color-gray-700: #444;
  --color-gray-800: #242424;
  --color-black: #000;
  --color-brand-title: #000B1D;
  --color-info-accent: #5C5CE0;
  --color-info-accent-hover: #4646C6;
  --color-info-accent-down: #3D3DB4;
  --color-info-accent-light: #DEDEF9;
  --color-premium: #EBCF2D;
  --gradient-pink-blue: linear-gradient(15deg, #ff4dd2 0%, #7c84fc 100%);

  /* body */
  --body-background-color: var(--color-white);
  --body-alt-background-color: var(--color-gray-200);
  --body-font-family: 'adobe-clean', 'Adobe Clean', sans-serif;
  --body-font-weight: normal;
  --body-color: var(--color-gray-800);
  --body-line-height: 1.5;
  --body-font-size-xxl: 1.5rem; /* 24px */
  --body-font-size-xl: 1.25rem; /* 20px */
  --body-font-size-l: 1.125rem; /* 18px */
  --body-font-size-m: 1rem; /* 16px */
  --body-font-size-s: 0.875rem; /* 14px */
  --body-font-size-xs: 0.75rem; /* 12px */
  /* headings */
  --heading-font-family: 'adobe-clean-black', 'Adobe Clean Black', 'adobe-clean', 'Adobe Clean', sans-serif;
  --heading-font-weight: 800;
  --heading-color: var(--color-gray-800);
  --heading-line-height: 1.25;
  --heading-font-size-xxxl: 5rem; /* 80px */
  --heading-font-size-xxl: 3.75rem; /* 60px */
  --heading-font-size-xl: 2.8125rem; /* 45px */
  --heading-font-size-l: 2.25rem; /* 36px */
  --heading-font-size-m: 1.75rem; /* 28px */
  --heading-font-size-s: 1.375rem; /* 22px */
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxxl: 3.75rem; /* 60px */
  }
}

@media (min-width: 1200px) {
  :root {
    --heading-font-size-xxxl: 2.8125rem; /* 45px */
  }
}

body {
  background-color: var(--body-background-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  color: var(--body-color);
  margin: 0;
  padding: 0;
  display: none;
}

body.appear {
  display: block;
}

/* gnav placeholder */

header {
    box-sizing: border-box;
    border-bottom: 1px solid #EAEAEA;
    height: 143px;
    background-image: url(/express/icons/cc-express-logo.svg);
    background-repeat: no-repeat;
    background-size: auto 32px;
    background-position: bottom 24px center;
    position: relative;
    background-color: #FFF;
}

body.nobrand header {
  height: 64px;
  background-image: unset;
}

#feds-header {
  opacity: 0;
}

#feds-header.appear {
  opacity: 1;
}

#header-placeholder {
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #EAEAEA;
  transition: opacity 0.1s;
  background-color: white;
}

#header-placeholder.disappear {
  display: none;
}

#header-placeholder .desktop {
    display: none;
}

#header-placeholder .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-sizing: border-box;
    padding: 20px 16px 20px 21px;
    color: #2c2c2c;
}

#header-placeholder .mobile .hamburger {
    font-size: 19px;
}

#header-placeholder .mobile .signin {
    font-size: 14px;
}

#header-placeholder .mobile .logo img {
    height: 26px;
    width: 26px;
    padding-left: 17px;
    transform: translate(0,3px);
}

#header-placeholder .mobile .hamburger::before {
    content: "\2630";
}

@media (min-width: 1200px) {

    #header-placeholder .mobile {
        display: none;
    }

    #header-placeholder .desktop {
        display: block;
        color: #2c2c2c;
        font-size: 14px;
        max-width: 1440px;
        margin: auto;
    }

    #header-placeholder .desktop .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
    }

    #header-placeholder .desktop .top .left {
        display: flex;
        align-items: center;
    }

    #header-placeholder .desktop .logo {
        width: 124px;
        box-sizing: border-box;
        padding-left: 20px;
        display: flex;
        font-weight: 700;
    }

    #header-placeholder .desktop .logo img {
        height: 24px;
        width: 25px;
    }

    #header-placeholder .desktop .logo span {
        color: #fa0f00;
        font-size: 18px;
        padding-left: 10px;
        display: block;
        padding-top: 0px;
    }

    #header-placeholder .desktop .top .section {
        height: 64px;
        padding: 0 8.5px 1px 8.5px;
    }

    #header-placeholder .desktop .top .section span {
        margin: 0 12px;
    }

    #header-placeholder .desktop .top .section .selected {
      border-bottom: 2px solid #2c2c2c;
      padding-top: 2px;
      font-weight: 700;
      display: inline-flex;
      height: 100%;
      box-sizing: border-box;
      align-items: center;
    }

    #header-placeholder .desktop .top .button {
        font-size: 14px;
        margin-left: 0px;
        font-weight: 700;
        padding: 6px 16px 5px 16px;
        background-color: var(--color-info-accent);
    }

    #header-placeholder .desktop .top .selected {
        font-weight: 700;
    }

    #header-placeholder .desktop .top .right {
        padding: 0 10px;
    }

    #header-placeholder .desktop .top .right > div {
        padding: 0px 6px 1px 6px;
    }

    #header-placeholder .desktop .top .right > div.search {
        padding: 6px 10px 2px 12px;
        fill: currentColor;

    }

    #header-placeholder .desktop .bottom {
        color: #707070;
        padding: 10px 12px;
        font-size: 12px;
    }

    #header-placeholder .desktop .bottom > span {
        padding: 0 8px;
        align-items: center;
    }

    #header-placeholder .desktop .drop {
        display: flex;
        align-items: center;
    }

    #header-placeholder .desktop .selected.drop::after {
      margin-left: 4px;      
    }
    
    #header-placeholder .desktop .drop::after {
        display: flex;
        width: 5px;
        height: 5px;
        border-top-width: 0;
        border-left-width: 0;
        border-bottom-width: 1px;
        border-right-width: 1px;
        border-style: solid;
        border-color: #2c2c2c;
        transform-origin: 75% 75%;
        transform: rotate( 45deg );
        transition: transform .1s ease;
        content: "";
        margin-left: 5px;
        margin-right: 3px;
    }

    #header-placeholder .desktop .top .right {
        display: flex;
        align-items: center;
    }

    #header-placeholder .desktop .top .left .section {
        display: flex;
        align-items: center;
    }
}

header #feds-topnav a.feds-navLink.feds-navLink--primaryCta {
  background-color: var(--color-info-accent);
  border-color: var(--color-info-accent);
}

header #feds-topnav a.feds-navLink.feds-navLink--primaryCta:hover {
  background-color: var(--color-info-accent-hover)!important;
  border-color: var(--color-info-accent-hover)!important;
}

header #feds-header a.feds-navLink:hover .feds-navLink-text {
  color: var(--color-info-accent-hover);
}

footer {
  margin-top: 0;
}

/* buttons */

a.button:any-link {
  text-decoration: none;
  border-radius: 18px;
  padding: 5px 1.2em 6px 1.2em;
  /*outline: none; (keep outline for a11n) */
  text-align: center;
  font-size: var(--body-font-size-s);
  font-style: normal; 
  font-weight: 600;
  line-height: var(--body-line-height);
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-info-accent);
  transition: background-color .4s;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

a.button.xlarge:any-link {
  padding: 13px 1.5em 13px 1.5em;
  border-radius: 27px;
  font-size: var(--body-font-size-m);
}

a.button.large:any-link {
  padding: 10px 1.5em 10px 1.5em;
  border-radius: 22px;
}

a.button.small:any-link {
  padding: 4px 1em 4px 1em;
  border-radius: 15px;
  font-size: var(--body-font-size-xs);
}

a.button.primary:any-link {
  background-color: var(--color-gray-800);
}

a.button.secondary:any-link {
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
}

a.button.light:any-link {
  background-color: var(--color-white);
  color: var(--color-info-accent);
  border: solid 2px var(--color-info-accent);
}

a.button.primary.light:any-link,
a.button.secondary.light:any-link {
  color: var(--color---color-gray-800);
}

a.button.primary.light:any-link {
  border-color: var(--color-gray-800);
}

a.button.secondary.light:any-link {
  border-color: var(--color-gray-300);
}

a.button.dark:any-link {
  color: var(--color-white);
  border: solid 2px var(--color-white);
}

a.button > svg {
  float: left;
  display: inline;
  width: 20px;
  height: 20px;
  margin: 8px 8px 8px 0;
  fill: currentColor;
  color: currentColor;
}

a.button > svg > use {
  fill: currentColor;
  color: currentColor;
}

body.light-grey {
  background-color: var(--body-alt-background-color);
}

main {
  text-align: center;
}

main h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
}

main h1 {
  font-size: var(--heading-font-size-xxl);
  opacity: 0;
  transition: opacity 0.2s;
}

main h2 {
  font-size: var(--heading-font-size-l);
}

main h3 {
  font-size: var(--heading-font-size-m);
}

main h4,
main h5 {
  font-size: var(--heading-font-size-s);
}

main p {
  font-size: var(--body-font-size-xl);
  line-height: var(--body-line-height);
}

main a:any-link {
  color: var(--body-color);
}

main img {
  max-width: 100%;
}

main .section-wrapper {
  padding-top: 40px;
}

main .section-wrapper:first-of-type {
  padding-top: 0;
}

main .section-wrapper:last-of-type {
  margin-bottom: 0;
}

@media (min-width:600px) {

  main h2 {
    font-size: var(--heading-font-size-l);
    text-align: center;
  }

  main h3 {
    font-size: var(--heading-font-size-l);
      text-align: center;
  }

  main h4 {
    font-size: var(--heading-font-size-m);
    margin-top: 56px;
    text-align: center;
  }

  main h1 + h5 {
    font-size: var(--body-font-size-xxl);
    font-weight: var(--body-font-weight);
    margin-top: 32px;
    margin-bottom: 16px;
  }

  main p {
    font-size: var(--body-font-size-l);
  }
}

@media (min-width:900px) {

  main h5 + p,
  main .section-wrapper p.button-container {
    text-align: unset;
  }

  main .section-wrapper.cards-container {
    background-color: unset;
  }  
}

@media(min-width:1200px) {
  main .section-wrapper h1 {
    font-size: var(--heading-font-size-l);
  }
}


.font-loaded main h1 {
  opacity: 1;
}

/* hero */
main .hero {
  color: var(--color-white); 
  width:100vw;
  height: 563px;
  position: relative;
  padding: 120px 32px
}

main .hero.hero-noimage {
  color: var(--body-color);
  padding-top: 64px;
  padding-bottom: 0;
}

main .hero.hero-noimage + .section-wrapper {
  padding-top: 0;
}

main .hero.hero-noimage > div {
  max-width: 1024px;
}

main .hero.hero-noimage a.button:any-link {
  color: white;
}

main .hero.hero-noimage a:any-link{
  color: black;
}

main .hero h1 {
  font-size: var(--heading-font-size-xl);
  margin: 0;
}

main .hero h5 {
  font-size: var(--body-font-size-l);
  font-weight: var(--body-font-weight);
  max-width: 672px;
  margin: auto;
  margin-top: 32px;
}

main .hero.hero-noimage p {
  font-size: var(--body-font-size-s);
}

main .hero a.button:any-link {
  text-shadow: none;
}

main .icon {
  height: 1em;
  width: 1em;
  color: currentColor;
}

main .hero .icon {
  height: 2em;
  width: 2em;
}

main .hero .hero-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: -1;
}

main .hero .hero-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main .hero > div {
    padding: 0;
}

main .hero a:any-link {
  color: currentColor;
}

main .hero h1{
  font-size: var(--heading-font-size-xl);
  line-height: var(--heading-line-height);
  text-align:center;
  margin: 120px 15px 0px 15px;
}

main .hero h2,
main .hero p {
  font-size: var(--body-font-size-xl);
  line-height: var(--body-line-height);
  text-align:center;
  margin: 24px 15px 0px 15px;
}


@media (min-width:900px) {
  main .hero {
    height: 493px;
  }

  main .hero h1{
    margin: 120px 50px 0px 50px; 
  }

  main .hero h2,
  main .hero p {
    margin: 24px 50px 0px 50px;
  }

  @media (min-width:1200px){
    main .hero {
      width:100vw;
      height: 518px;
    }
  
    main .hero h1{
      margin: 120px 0px 0px 0px; 
    }
  
    main .hero h2,
    main .hero p {
      margin: 24px 0px 0px 0px;
    }
  }
}


/* make page : default content */

main .section-wrapper {
  padding-top: 60px;
}

main .section-wrapper:first-of-type {
  padding-top: 120px;
}

main .section-wrapper:first-of-type {
  padding: 0;
}

main .section-wrapper > div {
  margin: auto;
  max-width: 375px;
  padding: 0 32px;
}

main .section-wrapper > div:empty {
  padding: 0;
}

main .section-wrapper h1,
main .section-wrapper h2,
main .section-wrapper h3,
main .section-wrapper h4,
main .section-wrapper h5 {
  margin: 0;
}

main .section-wrapper > div > h2 {
  margin-top: 80px
}


main .section-wrapper * + h2 {
  margin-top: 120px;
}

main .section-wrapper > div > h3  {
  margin-top: 64px;
}

main .section-wrapper > div > h3:first-child  {
  margin-top: 0px;
}

main .section-wrapper * + h2 {
    margin-top: 64px;
}

main .section-wrapper * + h4 {
  margin-top: 56px;
}

main .section-wrapper h1 + h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  margin-top: 32px;
  margin-bottom: 16px;
}

main .section-wrapper h5 + p {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

main .section-wrapper p {
    margin: 32px 0;
}

main .section-wrapper p.button-container {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}

main .section-wrapper .hero {
  color: initial;
}

@media (min-width:900px) {
  main .section-wrapper > div {
    max-width: 830px;
  }
}

@media (min-width:1200px) {
  main .section-wrapper > div {
    max-width: 1024px;
  }
}

/* blog styling */

.blog main .hero {
  margin: 0;
  padding: 0;
}

.blog main .hero > div {
  margin: auto;
  max-width: 1000px;
  width: 100%;

}

.blog main .hero {
  color: black;
}

.blog main .hero .blog-header .eyebrow {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  color: #696969;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .1em;
}

.blog main .hero .blog-header .author {
  margin-top: 32px;
  display: flex;
}

.blog main .hero .blog-header .author .name {
  margin-top: 10px;
  font-weight: 700;
}

.blog main .hero .blog-header img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.blog main .hero .blog-header {
  text-align: left;
  margin: 32px;
}

.blog div.section-wrapper {
  text-align: left;
}

.blog main div.section-wrapper h2, .blog main div.section-wrapper h3  {
  text-align: left;
}

.blog main .section-wrapper h3 {
  font-size: 36px;
  line-height: 40px;
  margin-top: 64px;
  text-align: left;
}

.blog main .section-wrapper h4 {
  text-align: left;
}

/* jank protection for async sections */

main .page-list-container, main .pricing, main .hero-animation {
  opacity: 0;
  height: 100vh;
  transition: opacity 100ms;
}