main .columns-dark-container {
  background-color: black;
  padding-bottom: 120px;
  color: white;
}

main .columns {
  margin-top: 70px;
}

main .columns.width-3-columns h3 {
  font-size: 28px;
  line-height: 32px;
}

main .columns > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .columns.centered > div > div {
  text-align: center;
}

main .columns.table > div {
  align-items: flex-start;
}

main .columns.top > div {
  align-items: flex-start;
}

main .columns-container > div {
  max-width: 1024px;
}

main .columns a > p:empty {
  display: none;
}

main .columns > div span.num {
  position:relative;
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  top:0;
  margin-right: 12px;
}

main .columns > div span.num + * {
  display:inline;
}

main .columns.center > div {
  align-items: center;
}

main .columns .social.icon {
  width: 32px;
  height: 32px;
  margin-right: 24px;
}

@media (min-width:900px) {
  main .columns > div {
    flex-direction: row;
    text-align: left;
  }

  main .section-wrapper div.columns > div > div {
    width: 50%;
    padding: 10px 24px;
  }

  main .section-wrapper div.columns > div > div * {
    text-align: left;
  }

  main .section-wrapper div.columns.centered > div > div * {
    text-align: center;
  }
  
  main .columns > div span.num {
    font-size: 22px;
    line-height: 29px;
    display: block;
  }
}