main .columns > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:900px) {
    main .columns > div {
        flex-direction: row;
    }    

    main .section-wrapper div.columns > div > div {
      width: 50%;
      text-align: left;
    }
  }