main .columns {
  margin-top: 70px;
}

main .columns > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .columns.top > div {
  align-items: top;
}

main .columns-container > div {
  max-width: 1024px;
}

main .columns a > p:empty {
  display: none;
}

@media (min-width:900px) {
    main .columns > div {
        flex-direction: row;
    }    

    main .section-wrapper div.columns > div > div {
      width: 50%;
      padding: 10px;
    }

    main .section-wrapper div.columns > div > div * {
      text-align: left;
    }
}