main .hero h1 {
    text-align: left;
}

main .hero h2 {
    text-align: left;
    margin-left: 0;
}

main .pricing-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 80px auto 0 auto;
    padding: 0 24px;
}

main .pricing-columns > div:nth-child(1) { order: 1; }
main .pricing-columns > div:nth-child(2) { order: 3; }
main .pricing-columns > div:nth-child(3) { order: 2; }
main .pricing-columns > div:nth-child(4) { order: 4; }

main .pricing-columns-content {
    width: 100%;
    margin: 0 0 80px 0;
}

main .pricing-columns-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

main .pricing-columns-title {
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-line-height);
}

main .pricing-columns-title-icon svg {
    width: 26px;
    height: 26px;
    fill: black;
}

main .pricing-columns-plan {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

main .pricing-columns-price {
    display: flex;
    flex-wrap: nowrap;
    font-size: var(--heading-font-size-l);
    font-weight: var(--heading-font-weight);
}

main .pricing-columns-price strong {
    margin-top: -10px;
    font-size: var(--heading-font-size-xxl);
    font-weight: var(--heading-font-weight);
}

main .pricing-columns-price.jpy strong {
    margin-right: 10px;
}

main .pricing-columns-dropdown {
    align-self: center;
    width: 176px;
    height: 32px;
    margin-top: 24px;
    padding: 5px;
    border-radius: 5px;
    text-overflow: ellipsis;
}

main .pricing-columns-vat-info {
  height: 24px;
}

main .pricing-columns-cta.button {
    flex: 1;
    margin: 16px 0 0 0;
}

main .pricing-columns-cta-text {
    font-size: var(--body-font-size-s);
    text-align: left;
}

main .pricing-columns-content {
    text-align: left;
}

main .pricing-columns-content h3 {
    font-size: var(--body-font-size-xl);
    font-weight: 600;
    line-height: var(--body-line-height);
    margin-bottom: 40px;
    text-align: left;
}

main .pricing-columns-content h6 {
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size-s);
    line-height: var(--body-line-height);
    margin: 40px 0;
}

main .pricing-columns-content .pricing-iconList {
    padding: 0 0 40px 0;
}

main .pricing-columns-content .pricing-iconlist > div {
    display: flex;
}

main .pricing-columns-content .pricing-iconlist .pricing-iconlist-icon {
    display: flex;
    padding: 2px 0 20px 0;
}

main .pricing-columns-content .pricing-iconlist .pricing-iconlist-icon svg,
main .pricing-columns-content .pricing-iconlist .pricing-iconlist-icon img {
    width: 44px;
    height: 44px;
}

main .pricing-columns-content .pricing-iconlist .pricing-iconlist-description {
    display: flex;
    flex: 1;
    text-align: left;
    margin-left: 10px;
    padding: 0 0 20px 0;
}

main .pricing-columns-content .pricing-iconlist .pricing-iconlist-description p {
    font-size: var(--body-font-size-m);
    margin: 0;
}

main .pricing-columns-content .pricing-iconlist .pricing-iconlist .pricing-iconlist-description > p {
    margin: 0;
    font-size: var(--body-font-size-l);
}

@media (min-width: 900px) {
    main .pricing-columns {
        max-width: 600px;
        margin: 0 auto;
        padding: 0;
    }

    main .pricing-columns-cta.button {
        width: 400px;
        align-self: center;
    }

    main .pricing-columns-content {
        align-items: center;
    }

    main .pricing-columns-content > p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .pricing-columns-content img {
        max-width: 500px;
    }

    main .pricing-columns-plan {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    main .pricing-columns-dropdown {
        margin: 0 0 0 20px;
    }

    main .pricing-columns-cta-text {
        max-width: 450px;
        align-self: center;
        font-size: var(--body-font-size-m);
    }

    main .pricing-columns-content .pricing-iconlist .pricing-iconlist-description p {
        height: min-content;
        align-self: center;
    }
}

@media (min-width: 1200px) {
    main .pricing-columns {
        position: relative;
        width: 1100px;
        max-width: 1100px;
        flex-direction: row;
        justify-content: space-between;
    }

    main .pricing-columns::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 80%;
        background-color: #EAEAEA;
        left: 50%;
        top: 15%;
    }

    main .pricing-columns-container > div {
        max-width: 1100px;
    }

    main .pricing-columns > div:nth-child(1) { order: 1; }
    main .pricing-columns > div:nth-child(2) { order: 2; }
    main .pricing-columns > div:nth-child(3) { order: 3; }
    main .pricing-columns > div:nth-child(4) { order: 4; }

    main .pricing-columns-header,
    main .pricing-columns-content {
        width: 490px;
    }

    main .pricing-columns-cta.button {
        flex: initial;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    main .pricing-columns-cta-text {
        width: 100%;
        max-width: 100%;
    }

    main .pricing-columns.single::after {
        content: none;
    }

    main .pricing-columns.single {
        flex-direction: column;
        align-items: center;
    }

    main .pricing-columns.single > div:nth-child(1) { order: 1; }
    main .pricing-columns.single > div:nth-child(2) { order: 3; }
    main .pricing-columns.single > div:nth-child(3) { order: 2; }
    main .pricing-columns.single > div:nth-child(4) { order: 4; }
}
