/*
 * Copyright 2021 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

main .embed {
  margin: auto;
  margin-top: 64px;
  max-width: 100%;
  max-height: 600px;
  width: unset;
}

main .embed+* {
  margin-top: 64px;
}

main .embed+p.legend {
  margin-top: 16px;
}

main .embed img {
  max-width: 100%;
}

main .embed {
  text-align: center;
  max-width: 800px;
}

main .embed.embed-instagram {
  max-width: fit-content;
}

main .embed.embed-twitter {
  max-height: unset;
}

main .embed-soundcloud>iframe {
  height: 200px ! important;
}
