main .tutorials .filters {
    margin-top: 25px;
}

main .tutorials .filters .tag-filter {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 4px 20px 6px 20px;
    margin: 5px;
    display: inline-block;
  }

  main .tutorials-container .hidden {
      display: none;
  }

  main .tutorials-container > div {
      max-width: 1440px;
  }
  
  main .tutorials .filters .tag-filter.selected {
    background-color: #1473e6;
    color: white;
    font-weight: 700;
  }
  
  main .tutorials-container .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  
  main .tutorials-container .results.hidden {
    display: none;
  }
  
  main .tutorials-container .results .tutorial-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px;
    text-align: left;
  }
  
  main .tutorials-container .results .tutorial-card-img {
    height: 204px;
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }

  main .tutorials-container .results .tutorial-card h3 {
    font-size: 18px;
    padding: 8px;
    line-height: 22px;
    margin-top: 0;
    text-align: left;
  }
  
  main .tutorials-container .results .tutorial-card-img.noimg {
    background: linear-gradient(135deg, rgba(238,140,63,1) 0%, rgba(229,66,50,1) 47%, rgba(155,38,103,1) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  main .tutorial-card .tutorial-card-title {
    border: 1px solid grey;
    border-width: 0 1px 0 1px;
    padding: 10px;
  }

  main .tutorial-card .tutorial-card-tags {
    border-radius: 0 0 10px 10px;
    border: 1px solid grey;
    border-width: 0 1px 1px 1px;
    padding: 10px;
  }
  
  main .tutorials-container .results .tutorial-card-img .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 3px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-image: url(/express/icons/spark.svg);
  }
  
  main .tutorials-container .results .tutorial-card-img .duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 2px 10px 4px 10px;
    font-size: 0.8em;
  }
  
  main .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main .overlay .overlay-video {
    margin: 50px;
  }
  
  
  main .tutorials-container .results .tutorial-card-tags span {
    border: 1px solid #444;
    border-radius: 20px;
    color: #444;
    display: inline-block;
    padding: 2px 10px 4px 10px;
    margin: 5px;
  }
  