.mock-ccl-quick-action {
    display: flex;
    margin: 0 auto 3.25rem auto;
    background-color: #f8f8f8;
    width: 600px;
    height: 475px;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    cursor: pointer;
}

.mock-ccl-quick-action .browse-to-upload {
    color: #5c5ce0;
}

.mock-ccl-quick-action .restrictions {
    font-size: 0.825rem;
    margin: 24px 0 32px 0;
}

.mock-ccl-quick-action .upload-your-photo {
    background-color: black;
    border-color: black;
    color: #fff;
    font-weight: 500;
    font-size: medium;
    padding: 0 1.5rem;
    line-height: 1.3;
    border-width: 2px;
    border-style: solid;
    min-height: 40px;
    min-width: 90px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 56px;
}

.mock-ccl-quick-action .dropzone {
    display: flex;
    max-width: 90%;
    max-height: 90%;
    width: 36.25rem;
    height: 36.25rem;
    position: relative;
    box-sizing: border-box;
}

.mock-ccl-quick-action .dropzone__icon {
    display: block;
    width: 6.0625rem;
    height: 5.1875rem;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    margin: 40px 0;
}

.mock-ccl-quick-action .dropzone__bg {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    background-color: #b6b6b6;
    -webkit-mask: center center / 100% no-repeat;
    display: block;
    position: absolute;
    inset: 0px;
    z-index: 1;
}

.mock-ccl-quick-action .dropzone__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
    z-index: 2;
}

.mock-ccl-quick-action .dropzone__illustration {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 2rem 1.25rem 2rem;
}

.mock-ccl-quick-action .dropzone__illustration h4 {
    font-size: 1.375rem;
    font-weight: 900;
    color: #242424;
    transition: 0.3s ease-in-out;
    margin: 0 0 0 0;
}

.quick-action-tag {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    margin-right: 6px;
    width: 14px;
    height: 14px;
    background: #f06dad;
    border-radius: 50%;
}

.quick-action-tag img {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    max-height: 8px;
}

.quick-action-tag-container {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}