main .faq-container {
    background-color: var(--color-gray-300);
    padding: 80px 0;
}

main .section-wrapper.faq-container > div {
    margin: auto;
    padding: 0 24px;
}

main .faq {
    text-align: left;
}

main .faq .faq-accordion {
    position: relative;
    height: auto;
    margin-top: 40px;
    padding: 40px;
    border-radius: 8px;
    background-color: var(--color-white);
}

main .faq .faq-question {
    display: block;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    overflow-anchor: none;
    cursor: pointer;
}

main .faq .faq-question:active {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main .faq .faq-question:focus:not(:focus-visible) {
    outline: none;
}

main .faq .faq-answer {
    padding: 0;
    display: none;
}

main .faq .active .faq-question {
    padding: 0 0 24px 0;
}

main .faq .active .faq-answer {
    display: block;
}

main .faq .faq-answer ul {
    margin: 0 0 8px 0;
}

main .faq .faq-answer ul li {
    list-style: disc;
}

main .faq .faq-answer p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 0;
}

@media (min-width: 900px) {
    main .section-wrapper.faq-container > div {
        padding: 0 56px;
    }

    main .faq .faq-question {
        font-size: 24px;
        line-height: 36px;
    }
}