main .faq-container {
    background-color: #f2f4f5;
    padding-bottom: 80px;
}

main .faq {
    text-align: left;
    padding: 20px 0;
}

main .faq .faq-accordion {
    position: relative;
    width: 100%;
    height: auto;
}

main .faq .faq-question {
    display: block;
    padding: 18px 0px 18px 4px;
    text-decoration: none;
    color: #252426;
    font-size: 18px;
    font-weight: 700;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    overflow-anchor: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

main .faq .faq-question:active {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main .faq .faq-question:focus:not(:focus-visible) {
    outline: none;
}

main .faq .faq-question .chevron {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-top: 2px;
    margin-right: 6px;
    color: #1473E6;
    fill: #1473E6;
    pointer-events: none;
}

main .faq .faq-answer {
    color: #707070;
    padding: 8px 10px 8px 14px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 30px;
    display: none;
}

main .faq .active .faq-question {
    color: #252426;
}

main .faq .active .faq-answer {
    display: block;
}

main .faq .active .chevron {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

main .faq .faq-answer ul {
    margin: 0 0 8px 20px;
}

main .faq .faq-answer ul li {
    font-size: 18px;
    line-height: 28px;
    list-style: disc;
}

main .faq .faq-answer p {
    color: #707070;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    main .faq .faq-question,
    main .faq .faq-answer {
        font-size: 18px;
        line-height: 28px;
    }
    main .faq .faq-question .chevron {
        margin-top: 4px;
    }
}