main .carousel-container {
  display: inline-block;
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 24px;
}

main .carousel-container .carousel-platform {
  width: max-content;
  max-width: 100%;
  left: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  max-height: 500px;
  padding-top: 4px;
  padding-bottom: 6px;
}

main .carousel-container:not(.controls-hidden) .carousel-platform::-webkit-scrollbar,
main .carousel-container .carousel-platform.infinity-scroll-loaded::-webkit-scrollbar {
  display: none;
}

main .carousel-container .carousel-platform > * {
  flex-shrink: 0;
  scroll-snap-align: start;
}

main .carousel-container .carousel-fader-left {
  text-align: left;
  display: flex;
  position: absolute;
  height: 100%;
  width: 60px;
  align-items: center;
  top: 0;
  left: 0;
  transition: opacity 0.2s, display 0.2s;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main .carousel-container .carousel-fader-right {
  text-align: left;
  display: flex;
  position: absolute;
  height: 100%;
  width: 60px;
  align-items: center;
  top: 0;
  right: 0;
  flex-direction: row-reverse;
  transition: opacity 0.2s;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main .carousel-container a.button.carousel-arrow {
  cursor: pointer;
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 7px;
  background: var(--color-white);
  box-shadow: 0 4px 8px 2px rgba(102, 102, 102, 0.1);
  border-radius: 50%;
  pointer-events: auto;
}

main .carousel-container .carousel-fader-left.arrow-hidden,
main .carousel-container .carousel-fader-right.arrow-hidden {
  opacity: 0;
  pointer-events: none;
}

main .carousel-container img,
main .carousel-container video {
  pointer-events: none;
}

main .carousel-container .carousel-fader-left.arrow-hidden a.button.carousel-arrow,
main .carousel-container .carousel-fader-right.arrow-hidden a.button.carousel-arrow {
  pointer-events: none;
}

main .carousel-container a.button.carousel-arrow::before {
  content: '';
  position: absolute;
  margin-top: 11px;
  width: 8px;
  height: 8px;
  border-top: solid 2px var(--color-gray-700);
  border-right: solid 2px var(--color-gray-700);
}

main .carousel-container a.button.carousel-arrow-left::before {
  margin-left: 13px;
  transform: rotate(-135deg);
}

main .carousel-container a.button.carousel-arrow-right {
  float: right;
}

main .carousel-container a.button.carousel-arrow-right::before {
  margin-left: 9px;
  transform: rotate(45deg);
}

/* Remove snapping in mobile-breakpoint if they scrolled using drag */
main .carousel-container.controls-hidden .carousel-platform {
  scroll-snap-type: none;
}

@media (min-width: 900px) {  
  main .carousel-container .carousel-platform::-webkit-scrollbar {
    display: none;
  }

  main .carousel-container a.button.carousel-arrow {
    margin: 0 10px;
  }

  main .carousel-container .carousel-fader-left {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

  main .carousel-container .carousel-fader-right {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

  main .carousel-container.controls-hidden .carousel-platform {
    scroll-snap-type: x mandatory;
  }
}
