main .floating-button-wrapper {
  position: fixed;
  left: 0;
  bottom: -1px;
  top: auto;
  right: auto;
  z-index: 2;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  mix-blend-mode: normal;
  box-sizing: border-box;
  padding: 0 6px;
  pointer-events: none;
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.95) 70%, rgba(255,255,255,1) 78%);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.95) 70%, rgba(255,255,255,1) 78%);
  transition: bottom 0.6s ease-out, opacity 0.6s ease-out;
}

main .floating-button-wrapper.floating-button--hidden {
  bottom: -151px;
  opacity: 0.9;
}

main .floating-button {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  border-radius: 100px;
  background-color: var(--color-gray-200);
  transition: background-color .3s, padding .3s;
  z-index: 2;
  max-width: 100%;
  pointer-events: auto;
  margin-bottom: 24px;
}

main .floating-button a.button:any-link {
  position: relative;
  display: block;
  margin: 0;
  z-index: 2;
  min-width: 200px;
  margin-right: 50px;
  pointer-events: auto;
}

main .floating-button a.button:any-link,
main .floating-button a.button:any-link:hover,
main .floating-button a.button:any-link:active,
main .floating-button a.button:any-link:focus {
  transition: width .3s, margin .3s, min-width .3s, background-color .3s, color .3s, border .3s, background-position 2s ease-out;
}

main .floating-button .floating-button-lottie {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
  margin: 0;
  padding-top: 4px;
  background: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: none;
  border-radius: 60px;
  cursor: pointer;
  pointer-events: auto;
}

main .floating-button .floating-button-lottie .lottie-purple-arrows {
  width: 50px;
  height: 50px;
  pointer-events: none;
}

main .floating-button--scrolled .floating-button {
  background-color: rgba(0,0,0,0);
}

main .floating-button--scrolled .floating-button a.button:any-link {
  margin-right: 0;
  min-width: 250px;
}

main .floating-button--scrolled .floating-button-lottie {
  pointer-events: none;
  user-select: none;
}

main .floating-button-wrapper ~ div:not(.banner-container) a.button.same-as-floating-button-CTA {
  display: none;
}

main .floating-button-wrapper:first-of-type + .section {
  padding-top: 0;
}

@media screen and (min-width: 900px) {
  main .floating-button-wrapper {
    display: none;
  }

  main .floating-button-wrapper.floating-button--desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  main .floating-button-wrapper.floating-button--desktop.floating-button--above-the-fold {
    bottom: -151px;
    opacity: 0.9;
  }

  main .floating-button-wrapper ~ div:not(.banner-container) a.button.same-as-floating-button-CTA {
    display: inline-block;
  }

  main .floating-button--desktop ~ .section > .default-content-wrapper a.button.same-as-floating-button-CTA {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  main .floating-button a.button:any-link,
  main .floating-button--scrolled .floating-button a.button:any-link {
    min-width: unset
  }
}