main .toc-container {
  position: relative;
  display: block;
}

main .toc-container .default-content-wrapper {
  position: absolute;
  top: -4px;
  right: 0;
}

main .toc-container .default-content-wrapper .button-container {
  margin-top: 4px;
}

main .toc-container .default-content-wrapper .button {
  padding: 2px 1em;
  background: var(--color-brand-title);
  border-color: var(--color-brand-title);
  font-size: .7em;
  font-weight: normal;
}

main .toc-container .lottie {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 -2px -8px;
}

main .toc-container .default-content-wrapper .lottie {
  margin: -2px 0 -2px -8px;
}

main .toc-container .toc-wrapper {
  /* display: none; */
}

main .toc-container.open .toc-wrapper {
  display: block;
}

main .toc-container.open .toc-wrapper:before {
  position: fixed;
  display: block;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  content: '';
  background: rgba(0,0,0,.8);
}

main .toc-container.open .toc-wrapper:after {
  position: absolute;
  display: block;
  height: 4px;
  width: 40px;
  margin-top: -24px;
  margin-left: -20px;
  left: 50%;
  z-index: 1;
  content: '';
  background: var(--color-gray-700);
}

main .toc-container .toc {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin: 12px 12px 12px auto;
  padding: 0;
  background-color: var(--color-brand-title);
  border-radius: 32px;
  font-weight: bold;
  text-align: left;
  transition: opacity .3s ease-out, max-height .3s ease-in, width .3s ease-in, padding .3s ease-in;
  width: 115px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

main .toc-container.open .toc {
  padding: 30px 40px;
  width: calc(100vw - 24px);
  max-height: 100vh;
  opacity: 1;
}

main .toc-container .toc-heading {
  color: var(--color-white);
  font-size: var(--body-font-size-l);
  font-weight: 600;
  margin-bottom: 20px;
}

main .toc-container .toc-heading .lottie {
  margin: 0 12px 0 -6px;
}

main .toc-container .toc div div {
  display: inline-block;
  vertical-align: middle;
}

main .toc-container .toc .icon {
  display: inline-block;
  margin: 10px 0;
  height: 18px;
  width: 18px;
}

main .toc-container .toc > div:nth-child(2) .icon { fill: #2b92f8; }
main .toc-container .toc > div:nth-child(3) .icon { fill: #7777fa; }
main .toc-container .toc > div:nth-child(4) .icon { fill: #d464fe; }
main .toc-container .toc > div:nth-child(5) .icon { fill: #fc1f6d; }
main .toc-container .toc > div:nth-child(6) .icon { fill: #fc4c00; }
main .toc-container .toc > div:nth-child(7) .icon { fill: #bbde2e; }

main .toc-container .toc .icon[class*='-store'] {
  position: absolute;
  right: 38px;
  height: auto;
  width: 120px;
  margin-top: 0;
}

main .toc-container .toc .button {
  background: none;
  border: none;
  margin: 0;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: normal;
}

main .toc-container .toc .toc-close {
  position: absolute;
  right: 18px;
  top: 24px;
  font-size: var(--body-font-size-l);
  font-weight: 600;
}

main .toc-container .toc .toc-close:before {
  position: relative;
  display: inline;
  vertical-align: middle;
  top: 2px;
  margin-right: 4px;
  content: url(/express/icons/close-red.svg);
}

main .toc-container.open ~ .floating-button-wrapper {
  background: none;
}
