@import url(https://www.hlx.page/tools/sidekick/app.css);

body {
    background-color: var(--hlx-sk-bg);
    color: var(--hlx-sk-color);
    font-family: var(--hlx-sk-font-family);
    font-size: var(--hlx-sk-font-size);
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header select {
    height: 30px;
    width: 150px;
    padding: 5px 10px;
}

header input {
    color: var(--hlx-sk-color);
    padding: 10px;
    width: 400px;
    background-color: var(--hlx-sk-bg);
    border: 1px currentColor solid;
    border-radius: 5px;
    font-size: 1.2em;
}

a:any-link {
    color: currentColor;
}

main .pages th {
    text-align: left;
    padding: 5px;
    min-width: 200px;
    height: 50px;
}

main .pages td {
    height: 50px;
    padding: 5px;
}

main .pages tr th.row::before {
    counter-increment: rowNumber;
    content: counter(rowNumber);
    min-width: 2em;
    text-align: right;
    margin-right: 0.5em;
    font-size: 0.8em;
    font-weight: 200;
}

main .pages tr.row th.row {
  position: relative;
}


main .pages tr.row.orange {
  background-color: rgb(242,204,162);	
  color: rgb(169,99,36);	
}

main .pages tr.row:hover {
    color: var(--hlx-sk-bg);
    background-color: var(--hlx-sk-color);
}

main .pages table {
    counter-reset: rowNumber;
    border-spacing: 0;
}

main .pages tr.row .tools {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 10px;
}

main .pages tr.row:hover .tools {
  display: flex;
  align-items: center;
  background-color: var(--hlx-sk-color);
}

main .status {
  font-size: 0.8em;
  text-align: right;
  padding: 20px 5px;
}


main .pages tr.row:hover a.button,  main .pages tr.row:hover button{
  border-color: currentColor;
  color: currentColor;
  margin-top: 0;
}

a.button, button {
    background-color: transparent;
    border: var(--hlx-sk-button-border);
    border-radius: 6px;
    color: var(--hlx-sk-button-color);
    font-size: var(--hlx-sk-button-font-size);
    line-height: var(--hlx-sk-line-height);
    font-weight: var(--hlx-sk-button-font-weight);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: var(--hlx-sk-button-padding);
    cursor: pointer;
    outline: none;
    margin: 10px 8px 0 0;
  }
  
  button:hover,
  button:focus,
  button.pressed,
  a.button:hover,
  a.button:focus,
  a.button.pressed {
    background-color: var(--hlx-sk-button-hover-bg);
    border-color: var(--hlx-sk-button-hover-border);
    color: var(--hlx-sk-button-hover-color);
  }
  
  a.button:disabled, 
  button:disabled {
    color: var(--hlx-sk-button-disabled-color);
    border: var(--hlx-sk-button-disabled-border);
  }
  
 a.button, button:disabled:hover {
    background-color: var(--hlx-sk-button-disabled-hover-bg);
  }

  .hidden {
    display: none;
  }

  .offscreen {
    position: absolute;
    top: -1000px;
  }

  .env {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
  }
  
  .env button,
  .env button.pressed {
    margin-right: 0;
    border-right-width: 0;
    border-radius: 0;
  }
  
  .env > div:first-child button,
  .env > div:first-child button.pressed {
    border-top-left-radius: var(--hlx-sk-button-border-radius);
    border-bottom-left-radius: var(--hlx-sk-button-border-radius);
  }
  
  .env > div:last-child button,
  .env > div:last-child button.pressed {
    border-top-right-radius: var(--hlx-sk-button-border-radius);
    border-bottom-right-radius: var(--hlx-sk-button-border-radius);
    border-right-width: 1px;
  }

