.pricing-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 0!important;
  z-index: 20;
}

.pricing-modal-container>div {
  width: 100%;
  max-width: 100%!important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-modal.block {
  background-color: white;
  padding: 24px 24px 32px 24px;
  width: 450px;
  max-width: 80%;
  border-radius: 8px;
}

.pricing-modal .modal-banner {
  display: flex;
  background-color: var(--color-gray-200);
  padding: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pricing-modal .modal-banner-text {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}

.pricing-modal .modal-banner-text h2 {
  font-size: var(--heading-font-size-xl);
  color: #5c5ce0;
}

.pricing-modal .modal-banner-text p {
  margin: 0;
  font-size: var(--body-font-size-m);
  font-weight: var(--heading-font-weight);
  line-height: 1.1;
}

.pricing-modal .modal-banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 230px;
  margin-top: -20px;
}

.pricing-modal .modal-content {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.pricing-modal .modal-content h2 {
  margin: 16px;
  font-size: var(--heading-font-size-xl);
}

.pricing-modal .modal-content p {
  margin: 12px 0;
  font-size: var(--content-font-size-m);
}

.pricing-modal .modal-content h3 {
  margin: 12px 0;
  font-size: var(--heading-font-size-s);
  font-weight: var(--body-font-weight);
  color: #444444;
}

.pricing-modal .modal-content del {
  text-decoration-color: red;
}

.pricing-modal .modal-content h5 {
  margin-top: 10px;
  font-size: var(--body-font-size-l);
  font-weight: normal;
}

.pricing-modal .modal-content .button {
  margin: 0;
}

.pricing-modal .modal-header {
  display: flex;
  justify-content: flex-end;
}

.pricing-modal .modal-header .close {
  position: relative;
  color: #6d6d6d;
  width: 21px;
  height: 21px;
  cursor: pointer;
  background: none;
  border: none;
  margin-bottom: 5px;
}

.pricing-modal .modal-header .close:before {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 1px;
  background-color: currentColor;
  transform: rotate(-45deg);
  left: 0;
}

.pricing-modal .modal-header .close:after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 1px;
  background-color: currentColor;
  transform: rotate(45deg);
  left: 0;
}

@media (max-width: 600px) {
  .pricing-modal.block {
    width: 325px;
    max-width: none;
  }

  .pricing-modal .modal-content {
    width: 325px;
  }

  .pricing-modal .modal-banner {
    padding: 10px 20px 20px 20px;
  }

  .pricing-modal .modal-banner-text h2 {
    font-size: var(--heading-font-size-m);
  }

  .pricing-modal .modal-banner-text p {
    font-size: var(--body-font-size-m);
  }

  .pricing-modal .modal-banner-image {
    width: 160px;
    margin-top: 0;
  }
}
