main .app-store-highlight-container {
  padding: 40px 0;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow: hidden;
}

main .app-store-highlight-container .content-wrapper {
  transform: scale(1.2);
}

main .app-store-highlight-container .heading {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 8px;
}

main .app-store-highlight-container .sub-heading {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 16px;
}

main .app-store-highlight-container .rating-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

main .app-store-highlight-container .rating-wrapper .icon-editor-choice {
  width: 115px;
}

main .app-store-highlight-container .rating-stars {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .app-store-highlight-container .rating-stars svg {
  color: var(--color-premium);
}

main .app-store-highlight-container .rating-stars .rating-votes {
  margin-left: 4px;
}

main .app-store-highlight-container .highlights-platform {
  overflow: hidden;
  margin: 0 -32px;
  position: relative;
  scrollbar-width: none;
  height: 445px;
  /* Firefox */
}

main .app-store-highlight-container .highlights {
  display: flex;
  gap: 12px;
  padding: 53px 32px;
  width: max-content;
}

main .app-store-highlight-container .highlights.animating {
  position: absolute;
  transition: left 0.2s;
}

main .app-store-highlight-container .highlights.dragging {
  transition: unset;
}

main .app-store-highlight-container .highlights::-webkit-scrollbar {
  display: none;
}

main .app-store-highlight-container .highlights .highlight {
  position: relative;
  height: auto;
  max-width: 190px;
  max-height: 339px;
  border-radius: 10px;
  overflow: hidden;
}

main .app-store-highlight-container .highlights .highlight img,
main .app-store-highlight-container .highlights .highlight video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

main .app-store-highlight-container .icon.icon-apple-store {
  height: 63px;
}

main .app-store-highlight-container .app-store-highlight-wrapper {
  max-width: none;
}
