main .hero-image-container {
    position: relative;
}

main .hero-image-container > div {
    padding: 0;
    display: flex;
    align-items: center;
}


main .hero-image picture img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    min-height: 375px;
    object-position: 100% 100%;
}

main .hero-image p {
    margin: 16px 0;
}

main .hero-image .icon {
    height: 32px;
    width: unset;
}

main .hero-image p:first-of-type {
    margin-bottom: 8px;
}

main .hero-image {
    padding-top: 375px;
}

main .hero-image {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 375px 15px 16px 15px;
    margin: auto;
    max-width: 500px;
    box-sizing: border-box;
}

main .hero-image h1 {
    font-size: var(--heading-font-size-xl);
    margin: 0 0 8px 0;
}

main .hero-image .icon-adobe-creative-cloud-express {
    margin-top: 13px;
    height: 33px;
    width: 294px;
    margin-bottom: 380px;
}

main .hero-image .icon-adobe-creative-cloud-express {
    display: none;
}

main .hero-image .hero-image-overlay p.button-container {
    text-align: left;
    margin: 16px 0;
}

main .hero-image .hero-image-overlay p.button-container a.button:any-link {
    margin: 0;
}


@media (min-width: 600px) {
    main .hero-image {
        padding-top: max( 49%, 375px);
    }
}

@media (min-width: 600px) {
  main .hero-image .icon {
    height: 65px;
  }
}

@media (min-width: 740px) {

    /* body.no-desktop-brand-header header, body.no-brand-header header {
        height: 64px;
        background-image: unset;
    } */

    main .hero-image {
        padding-top: 0;
    }

    main .hero-image-container > div {
        padding: 0 56px;
        max-width: 850px;
    }

    main .hero-image {
        width: 290px;
        justify-content: center;
        margin: unset;
        padding: 0;
    }

    main .hero-image h1 {
        font-size: var(--heading-font-size-xxl);
    }

}

@media (min-width: 1800px) {
    main .hero-image-container > div {
        max-width: 65%;
    }
}