main .banner {
  border-radius: 20px;
  background-color: #000;
  color: #FFF;
  padding: 32px;
  margin: 32px auto;
}

main .banner a:any-link {
  color: white;
}

@media (min-width:900px) {
  main .banner {
    margin: 40px auto;
  }
}
