body.no-desktop-brand-header header {
    background-image: url(/express/icons/cc-express-logo.svg);
    height: 143px;
}


main .hero-animation.appear {
    opacity: 1;
    height: unset;
}

main .hero-animation-container > div {
    max-width: 1200px;
}


main .hero-animation-container {
    position: relative;
}

main .hero-animation video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    min-height: 375px;
    object-position: 72%;
}

main .hero-animation .hero-animation-overlay p {
    margin: 21px 0;
}

main .hero-animation .icon {
    height: 40px;
    width: 40px;
    margin-bottom: 11px;
}

main .hero-animation .hero-animation-attributions {
    position: absolute;
    top: 0;
    left: 0;
}

main .hero-animation .hero-animation-attribution {
    position: absolute;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    display: flex;
    text-align: left;
    align-items: center;
    width: 400px;
}

main .hero-animation .hero-animation-attribution p {
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}

main .hero-animation .hero-animation-attribution img {
    height: 132px;
    width: 132px;
    margin-right: 8px;
    border-radius: 50%;
}

main .hero-animation {
    padding-top: max(57%, 400px);
}


main .hero-animation .hero-animation-attribution.appear {
    opacity: 1;
}

main .hero-animation .hero-animation-overlay {
    text-align: left;
    display: flex;
    flex-direction: column;
}

main .hero-animation h1 {
    font-size: var(--heading-font-size-xl);
    line-height: 45px;
}

main .hero-animation .icon-adobe-creative-cloud-express {
    margin-top: 13px;
    height: 33px;
    width: 294px;
    margin-bottom: 380px;
}

main .hero-animation .icon-adobe-creative-cloud-express {
    display: none;
}


@media (min-width: 900px) {
    body.no-desktop-brand-header header, body.no-brand-header header {
        height: 64px;
        background-image: unset;
    }

    main .hero-animation {
        padding-top: 0;
    }    

    main .hero-animation .hero-animation-overlay {
        width: 35%;
        justify-content: center;
    }

    main .hero-animation .icon-adobe-creative-cloud-express {
        height: 119px;
        width: 373px;
        margin: 0;
        margin-bottom: 10px;
        display: block;
    }
    
    main .hero-animation h1 {
        font-size: var(--heading-font-size-l);
        line-height: 40px;
    }

    main .hero-animation .hero-animation-overlay p.button-container {
        text-align: left;
        margin: 0;
    }

    main .hero-animation .hero-animation-overlay p.button-container a.button:any-link {
        margin: 0;
    }

    main .hero-animation .hero-animation-attribution.hero-animation-top-right {
        top: 50px;
        left: unset;
        bottom: unset;
        right: 50px;
    }
}