
main .section.quick-action-cards-container {
  padding: 0;
  text-align: left;
}

main .section.quick-action-cards-container > div {
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
  padding: 80px 32px;
  box-sizing: content-box;
}

main .section.quick-action-cards-container > div > h1,
main .section.quick-action-cards-container > div > h2,
main .section.quick-action-cards-container > div > h3,
main .section.quick-action-cards-container > div > h4,
main .section.quick-action-cards-container > div > h5,
main .section.quick-action-cards-container > div > h6,
main .section.quick-action-cards-container > div > p {
  margin-bottom: 16px;
  text-align: left;
}

main .quick-action-cards h1,
main .quick-action-cards h2,
main .quick-action-cards h3,
main .quick-action-cards h4,
main .quick-action-cards h5,
main .quick-action-cards h6,
main .quick-action-cards p {
  color: var(--body-color);
}

main .quick-action-cards p.button-container {
  text-align: left;
  display: flex;
  gap: 16px;
}

main .quick-action-cards p.button-container a {
  margin: 0;
}

main .section.quick-action-cards-container > div > p {
  margin-top: 16px;
  margin-bottom: 32px;
}

main .section.quick-action-cards-container > div > :first-child {
  margin-top: 0;
}

main .quick-action-cards {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 10px;
}

main .quick-action-cards .quick-action-card {
  border-radius: 17px;
  overflow: hidden;
  border: 2px solid var(--color-gray-200);
  text-align: left;
}

main .quick-action-cards .quick-action-card p.button-container {
  display: inline-block;
}

main .quick-action-cards .quick-action-card p.button-container a:not(.button) {
  padding: 5px 1.2em 6px 1.2em;
  margin: 0;
  font-size: var(--body-font-size-s);
  overflow: hidden;
  display: inline-block;
}

main .quick-action-cards .quick-action-card p.button-container a:not(.button) .icon {
  height: 8px;
  width: 8px;
  margin-left: 4px;
  transform: rotate(270deg) translateY(1px);
  fill: currentColor;
}

main .quick-action-cards .quick-action-card div:not(.quick-action-card-image) {
  padding: 20px;
}

main .quick-action-cards:not(.quick-action-cards--expanded) .quick-action-card:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  display: none;
}

main .quick-action-cards--buttons .quick-action-card--close {
  display: none;
}

main .quick-action-card--open svg, 
main .quick-action-card--close svg {
  transform: translateY(1px);
  float: unset;
  width: 10px;
  height: 10px;
  margin: 0;
  margin-left: 6px;
}

main .quick-action-card--close svg {
  transform: translateY(1px) rotate(180deg);
}

main .quick-action-cards.quick-action-cards--expanded .quick-action-card {
  display: block;
}

main .quick-action-cards.quick-action-cards--expanded + .quick-action-cards--buttons .quick-action-card--close {
  display: inline-block;
}

main .quick-action-cards.quick-action-cards--expanded + .quick-action-cards--buttons .quick-action-card--open {
  display: none;
} 

main .section.quick-action-cards-container > div > p.quick-action-cards--buttons {
  margin: 0;
  margin-top: 32px;
  text-align: center;
  display: block;
}

main .quick-action-card--open, 
main .quick-action-card--close {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 900px) {
  main .section.quick-action-cards-container > div {
    max-width: 1024px;
  }

  main .quick-action-cards {
    gap: 32px 17px;
  }

  main .quick-action-cards .quick-action-card {
    max-width: 31%;
    max-width: calc(33% - 14px);
  }
}