main .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}


main .feature-list img {
    width: 32px;
}

main .feature-list > div {
    width: 200px;
    padding: 20px;
}

main .feature-list h3 {
    font-size: 22px;
    line-height: 26px;
}