.hlx-context {
  z-index: 9999999;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--hlx-sk-bg);
  background-image: var(--hlx-sk-logo);
  background-repeat: no-repeat;
  background-position: 10px 14px;
  background-size: 22px;
  color: var(--hlx-sk-color);
  top: 50px;
  left: 0;
  width: 20vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 72px 10px 42px;
  font-family: var(--hlx-sk-font-family);
  font-size: var(--hlx-sk-font-size);
  box-shadow: var(--hlx-sk-shadow);
}

.hlx-context-hidden {
  display: none !important;
}

.hlx-context .hlx-context-store {
  background-color: transparent;
  color: var(--hlx-sk-button-color);
  font-size: var(--hlx-sk-button-font-size);
  line-height: var(--hlx-sk-line-height);
  font-weight: var(--hlx-sk-button-font-weight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: var(--hlx-sk-button-padding);
  outline: none;
  margin: 10px 8px 0 0;
}

.hlx-context .hlx-context-store select {
  width: 200px;
}